In [79]:
import pandas as pd

In [80]:
df = pd.read_csv("csv_completos_bruto/alquileres_completo.csv", low_memory=False)

In [81]:
df["ubicacion"].unique()

array(['almeria', 'cadiz', 'cordoba', 'granada', 'huelva', 'jaen',
       'malaga', 'sevilla', 'huesca', 'teruel', 'zaragoza', 'cantabria',
       'avila', 'burgos', 'leon', 'palencia', 'salamanca', 'segovia',
       'soria', 'valladolid', 'zamora', 'albacete', 'ciudad_real',
       'cuenca', 'guadalajara', 'toledo', 'barcelona', 'girona', 'lleida',
       'tarragona', 'madrid', 'alicante', 'castellon_castello',
       'valencia', 'badajoz', 'caceres', 'a_coruna', 'lugo', 'ourense',
       'pontevedra', 'islas_baleares_illes_balears', 'las_palmas',
       'santa_cruz_de_tenerife', 'la_rioja', 'navarra_nafarroa',
       'alava_araba', 'guipuzcoa_gipuzkoa', 'vizcaya_bizkaia', 'asturias',
       'murcia', 'cerdanya_francesa'], dtype=object)

In [82]:
df.shape

(29409, 62)

In [83]:
df.columns

Index(['Antigüedad', 'identificador', 'Teléfono', 'Carpintería interior',
       'Ascensor', 'Portero automático', 'Armarios empotrados', 'Conservación',
       'Superficie construida', 'Lavadero', 'Calle alumbrada', 'Calefacción',
       'Calle asfaltada', 'codigo_postal', 'Referencia',
       'Sistema de seguridad', 'Aire acondicionado', 'Cocina equipada',
       'agencia', 'Terraza', 'Puerta blindada', 'Tipo de casa', 'Gas', 'href',
       'Gastos de comunidad', 'Se aceptan mascotas', 'Piscina',
       'Adaptado a personas con movilidad reducida', 'Urbanizado', 'Comedor',
       'Soleado', 'Habitaciones', 'nombre', 'ubicacion', 'Exterior', 'Jardín',
       'Planta', 'Superficie solar', 'Balcón', 'superficie', 'actualizacion',
       'emisiones', 'Vidrios dobles', 'Orientación', 'precio', 'Luz',
       'consumo', 'Trastero', 'coordenadas', 'Superficie útil', 'Agua',
       'Baños', 'Tipo suelo', 'Chimenea', 'Alcantarillado', 'precio_m2',
       'timestamp', 'Carpintería exterior', 'Garaje', 'Interior',
       'No se aceptan mascotas', 'Amueblado'],
      dtype='object')

In [84]:
#Normalizamos los nombres de las columnas
def normalizar_nombres(nombres):
    nombres = nombres.lower().replace(" ", "_") 
    nombres = nombres.replace('á', 'a').replace('é', 'e').replace('í', 'i').replace('ó', 'o').replace('ü', 'u').replace('ú', 'u')
    nombres = nombres.replace('Á', 'a').replace('É', 'e').replace('Í', 'i').replace('Ó', 'o').replace('Ú', 'u')
    return nombres
df.columns = [normalizar_nombres(col) for col in df.columns]

In [85]:
df.columns

Index(['antiguedad', 'identificador', 'telefono', 'carpinteria_interior',
       'ascensor', 'portero_automatico', 'armarios_empotrados', 'conservacion',
       'superficie_construida', 'lavadero', 'calle_alumbrada', 'calefaccion',
       'calle_asfaltada', 'codigo_postal', 'referencia',
       'sistema_de_seguridad', 'aire_acondicionado', 'cocina_equipada',
       'agencia', 'terraza', 'puerta_blindada', 'tipo_de_casa', 'gas', 'href',
       'gastos_de_comunidad', 'se_aceptan_mascotas', 'piscina',
       'adaptado_a_personas_con_movilidad_reducida', 'urbanizado', 'comedor',
       'soleado', 'habitaciones', 'nombre', 'ubicacion', 'exterior', 'jardin',
       'planta', 'superficie_solar', 'balcon', 'superficie', 'actualizacion',
       'emisiones', 'vidrios_dobles', 'orientacion', 'precio', 'luz',
       'consumo', 'trastero', 'coordenadas', 'superficie_util', 'agua',
       'baños', 'tipo_suelo', 'chimenea', 'alcantarillado', 'precio_m2',
       'timestamp', 'carpinteria_exterior', 'garaje', 'interior',
       'no_se_aceptan_mascotas', 'amueblado'],
      dtype='object')

In [86]:
df["identificador"].value_counts()

identificador
4912333334_109700     82
50836834632_100500    81
32564541244_992099    81
50077676626_100500    81
51706580737_101800    81
                      ..
40884833778_100500     1
50876676668_101800     1
40917667643_100500     1
49206925666_100500     1
36693113219_517227     1
Name: count, Length: 14542, dtype: int64

In [87]:
# Eliminar identificadores únicos duplicados
df = df.drop_duplicates(subset='identificador', keep='first')

In [88]:
df["identificador"].value_counts()

identificador
50886757575_100500    1
49239903264_523824    1
50022420851_100500    1
46746172729_100500    1
51719214790_512463    1
                     ..
50870623265_515004    1
48349443059_108500    1
51720664339_108900    1
51762916766_108900    1
36693113219_517227    1
Name: count, Length: 14542, dtype: int64

In [89]:
# Eliminamos la columna referencia porque nuestro valor único de inmueble será "identificador"
df = df.drop(columns=['referencia'])

In [90]:
df.columns

Index(['antiguedad', 'identificador', 'telefono', 'carpinteria_interior',
       'ascensor', 'portero_automatico', 'armarios_empotrados', 'conservacion',
       'superficie_construida', 'lavadero', 'calle_alumbrada', 'calefaccion',
       'calle_asfaltada', 'codigo_postal', 'sistema_de_seguridad',
       'aire_acondicionado', 'cocina_equipada', 'agencia', 'terraza',
       'puerta_blindada', 'tipo_de_casa', 'gas', 'href', 'gastos_de_comunidad',
       'se_aceptan_mascotas', 'piscina',
       'adaptado_a_personas_con_movilidad_reducida', 'urbanizado', 'comedor',
       'soleado', 'habitaciones', 'nombre', 'ubicacion', 'exterior', 'jardin',
       'planta', 'superficie_solar', 'balcon', 'superficie', 'actualizacion',
       'emisiones', 'vidrios_dobles', 'orientacion', 'precio', 'luz',
       'consumo', 'trastero', 'coordenadas', 'superficie_util', 'agua',
       'baños', 'tipo_suelo', 'chimenea', 'alcantarillado', 'precio_m2',
       'timestamp', 'carpinteria_exterior', 'garaje', 'interior',
       'no_se_aceptan_mascotas', 'amueblado'],
      dtype='object')

In [91]:
df["precio"].value_counts()

precio
A consultar    1073
1.200 €/mes     564
800 €/mes       502
1.500 €/mes     456
750 €/mes       423
               ...
796 €/mes         1
1.940 €/mes       1
2.259 €/mes       1
745 €/mes         1
2.145 €           1
Name: count, Length: 1164, dtype: int64

In [92]:
# Limpieza de la columna precio
def limpiar_precio(x):
    try:
        if 'A consultar' in x or 'Error al procesar el precio' in x:
            return None
        return float(x.replace(' €/mes', '').replace('€', '').replace(' ', '').replace('.', '').replace(',', '.'))
    except ValueError:
        return None
df['precio'] = df['precio'].apply(limpiar_precio)
df['precio'] = df['precio'].astype(float)

In [93]:
df["precio"].value_counts()

precio
1200.0    575
800.0     514
1500.0    464
750.0     427
850.0     406
         ...
2781.0      1
2782.0      1
1194.0      1
1184.0      1
2145.0      1
Name: count, Length: 956, dtype: int64

In [94]:
df.shape

(14542, 61)

In [95]:
df['precio_m2'].value_counts()

precio_m2
Error al procesar precio m²    1357
8 €/m²                          943
10 €/m²                         914
7 €/m²                          772
9 €/m²                          768
                               ...
78 €/m²                           1
700 €/m²                          1
72 €/m²                           1
85 €/m²                           1
350 €/m²                          1
Name: count, Length: 99, dtype: int64

In [96]:
# Limpieza de la olumna precio_m2
df['precio_m2'] = df['precio_m2'].apply(lambda x: float(x.replace(' €/m²', '').replace('€', '').replace(' ', '').replace('.', '').replace(',', '.')) if 'Error al procesar precio m²' not in x else None)
df['precio_m2'] = df['precio_m2'].astype(float)

In [97]:
df['precio_m2'].value_counts()

precio_m2
8.0      943
10.0     914
7.0      772
9.0      768
11.0     750
        ...
700.0      1
71.0       1
65.0       1
99.0       1
350.0      1
Name: count, Length: 98, dtype: int64

In [98]:
df['superficie'].value_counts()

superficie
70 m²            596
80 m²            581
90 m²            559
100 m²           558
60 m²            501
                ...
314 m²             1
IFC76350-TG-2      1
905 m²             1
855 m²             1
2 m²               1
Name: count, Length: 610, dtype: int64

In [99]:
# Limpieza columna superficie
df['superficie'] = df['superficie'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '')) if x.replace(' m²', '').replace(' ', '').isnumeric() else None)
df['superficie'] = df['superficie'].astype(float)

In [100]:
df['superficie'].value_counts()

superficie
70.0     596
80.0     581
90.0     559
100.0    558
60.0     501
        ...
855.0      1
975.0      1
408.0      1
616.0      1
507.0      1
Name: count, Length: 523, dtype: int64

In [101]:
df['superficie_util'].value_counts()

superficie_util
70 m²     408
90 m²     403
80 m²     382
100 m²    369
60 m²     352
         ...
384 m²      1
335 m²      1
269 m²      1
15 m²       1
19 m²       1
Name: count, Length: 392, dtype: int64

In [102]:
# Limpieza columna superficie_util
df['superficie_util'] = df['superficie_util'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '')) if isinstance(x, str) and x.replace(' m²', '').replace(' ', '').isnumeric() else None)
df['superficie_util'] = df['superficie_util'].astype(float)

In [103]:
df['superficie_util'].value_counts()

superficie_util
70.0     408
90.0     403
80.0     382
100.0    369
60.0     352
        ...
507.0      1
22.0       1
503.0      1
609.0      1
19.0       1
Name: count, Length: 373, dtype: int64

In [104]:
df['superficie_solar'].value_counts()

superficie_solar
1.000 m²    63
500 m²      62
1.200 m²    32
800 m²      30
400 m²      30
            ..
896 m²       1
1.586 m²     1
609 m²       1
1.846 m²     1
776 m²       1
Name: count, Length: 450, dtype: int64

In [105]:
# Limpieza columna superficie_solar
df['superficie_solar'] = df['superficie_solar'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '').replace('.', '').replace(',', '.')) if isinstance(x, str) and x.replace(' m²', '').replace(' ', '').replace('.', '').replace(',', '').isnumeric() else None)
df['superficie_solar'] = df['superficie_solar'].astype(float)

In [106]:
df['superficie_solar'].value_counts()

superficie_solar
1000.0    63
500.0     62
1200.0    32
800.0     30
400.0     30
          ..
896.0      1
1586.0     1
609.0      1
1846.0     1
776.0      1
Name: count, Length: 450, dtype: int64

In [107]:
df['superficie_construida'].value_counts()

superficie_construida
70 m²       589
80 m²       579
100 m²      558
90 m²       557
60 m²       499
           ...
890 m²        1
1.037 m²      1
1.020 m²      1
1.855 m²      1
2 m²          1
Name: count, Length: 587, dtype: int64

In [108]:
# Limpieza columna superficie_construida
df['superficie_construida'] = df['superficie_construida'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '')) if isinstance(x, str) and x.replace(' m²', '').replace(' ', '').isnumeric() else None)
df['superficie_construida'] = df['superficie_construida'].astype(float)

In [109]:
df['superficie_construida'].value_counts()

superficie_construida
70.0     589
80.0     579
100.0    558
90.0     557
60.0     499
        ...
314.0      1
905.0      1
855.0      1
975.0      1
2.0        1
Name: count, Length: 520, dtype: int64

In [110]:
df['baños'].value_counts()

baños
1.0     6356
2.0     5815
3.0     1378
4.0      461
5.0      191
6.0       84
7.0       43
8.0       20
9.0        7
10.0       6
11.0       4
15.0       2
12.0       1
16.0       1
Name: count, dtype: int64

In [111]:
# Aplicamos limpieza a baños ya que encontramos valores muy atípicos, por lo que nos quedamos con aquellos inmuebles con como mucho 10 baños y el resto lo dejamos en none
def limpiar_banos(x):
    try:
        x = float(x)
        if x > 10 or not x.is_integer():
            return None
        return x
    except ValueError:
        return None

df['baños'] = df['baños'].apply(limpiar_banos).astype('Int64')

In [112]:
df['baños'].value_counts()

baños
1     6356
2     5815
3     1378
4      461
5      191
6       84
7       43
8       20
9        7
10       6
Name: count, dtype: Int64

In [113]:
df.shape

(14542, 61)

In [114]:
df['habitaciones'].value_counts()

habitaciones
2.0     4722
3.0     4359
1.0     2390
4.0     1889
5.0      565
6.0      182
7.0       51
8.0       38
10.0      10
9.0        5
16.0       4
11.0       3
21.0       2
12.0       2
20.0       1
80.0       1
90.0       1
22.0       1
13.0       1
Name: count, dtype: int64

In [115]:
# Aplicamos limpieza a habitaciones ya que encontramos valores muy atípicos, por lo que nos quedamos con aquellos inmuebles con como mucho 20 habitaciones y el resto lo dejamos en none
def limpiar_habitaciones(x):
    try:
        x = float(x)
        if x > 20 or not x.is_integer():
            return None
        return x
    except ValueError:
        return None

df['habitaciones'] = df['habitaciones'].apply(limpiar_habitaciones).astype('Int64')

In [116]:
df['habitaciones'].value_counts()

habitaciones
2     4722
3     4359
1     2390
4     1889
5      565
6      182
7       51
8       38
10      10
9        5
16       4
11       3
12       2
20       1
13       1
Name: count, dtype: Int64

In [117]:
df['codigo_postal'].isna().sum()

5220

In [118]:
# Todas las extracciones tienen timestamp (momento en el que ha sido scrapeado ese inmueble)
df['timestamp'].isna().sum()

0

In [119]:
# Convertimos la columna a tipo datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

In [120]:
df['timestamp']

0       2025-03-01 17:43:44
1       2025-03-01 17:43:44
2       2025-03-01 17:43:45
3       2025-03-01 17:43:45
4       2025-03-01 17:43:45
                ...
29404   2025-03-01 19:50:19
29405   2025-03-01 19:50:20
29406   2025-03-01 19:50:20
29407   2025-03-01 19:50:20
29408   2025-03-01 19:50:20
Name: timestamp, Length: 14542, dtype: datetime64[ns]

In [121]:
df['timestamp'].dtypes

dtype('<M8[ns]')

In [122]:
df['planta'].value_counts()

planta
1ª            2165
2ª            1942
3ª            1543
4ª            1117
Bajo           840
5ª             687
6ª             398
7ª             310
8ª             156
9ª              99
11ª             63
10ª             60
Principal       60
Entresuelo      45
Más de 20       30
12ª             19
Semisótano      13
15ª             12
14ª             10
13ª              8
16ª              7
20ª              5
Sótano           4
17ª              3
19ª              3
18ª              2
Name: count, dtype: int64

In [123]:
# Limpieza de la columna 'planta'
df['planta'] = df['planta'].str.replace('ª', '', regex=False).str.strip()
df['planta'] = df['planta'].replace({'Bajo': 0, 'Principal': 0, 'Semisótano': -1, 'Entresuelo': -1, 'Sótano': -1, 'Más de 20': 21})
df['planta'] = df['planta'].astype('float64').astype('Int64')

In [124]:
df['planta'].value_counts()

planta
1     2165
2     1942
3     1543
4     1117
0      900
5      687
6      398
7      310
8      156
9       99
11      63
-1      62
10      60
21      30
12      19
15      12
14      10
13       8
16       7
20       5
17       3
19       3
18       2
Name: count, dtype: Int64

In [125]:
# Columnas cualitativas Si/No/Sin especificar
columnas_si_no = ['luz', 'sistema_de_seguridad', 'vidrios_dobles','se_aceptan_mascotas', 'calefaccion', 'jardin','trastero', 'gastos_de_comunidad',
                  'cocina_equipada', 'agua', 'aire_acondicionado', 'terraza', 'armarios_empotrados','balcon', 'garaje', 'puerta_blindada',
                  'adaptado_a_personas_con_movilidad_reducida', 'ascensor', 'alcantarillado', 'portero_automatico', 'exterior', 'piscina',
                  'calle_alumbrada', 'lavadero', 'amueblado', 'gas', 'comedor', 'chimenea', 'no_se_aceptan_mascotas', 'telefono']

In [126]:
df_si_no= df[columnas_si_no]

In [127]:
df_si_no

,luz,sistema_de_seguridad,vidrios_dobles,se_aceptan_mascotas,calefaccion,jardin,trastero,gastos_de_comunidad,cocina_equipada,agua,...,exterior,piscina,calle_alumbrada,lavadero,amueblado,gas,comedor,chimenea,no_se_aceptan_mascotas,telefono
0,NaN,Si,Si,NaN,Eléctrica,Comunitario,NaN,NaN,Cocina amueblada,NaN,...,Si,Comunitaria,NaN,Si,Si,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amueblada,NaN,...,NaN,NaN,NaN,NaN,Si,NaN,Independiente,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Videovigilancia,NaN,NaN,NaN,Privado,NaN,50,Si,NaN,...,NaN,Privada,NaN,NaN,Si,NaN,NaN,NaN,NaN,NaN
4,NaN,Si,Si,NaN,Eléctrica,Comunitario,NaN,NaN,Cocina amueblada,NaN,...,Si,Comunitaria,NaN,Si,Si,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29404,NaN,NaN,Si,NaN,Eléctrica,Comunitario,NaN,NaN,Abierta,NaN,...,Si,NaN,NaN,NaN,Si,NaN,Si,NaN,NaN,NaN
29405,NaN,NaN,Si,NaN,Gasoil,Comunitario,NaN,NaN,Abierta,NaN,...,Si,NaN,NaN,NaN,Si,NaN,Si,NaN,NaN,NaN
29406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Si,NaN,NaN,NaN,Si,NaN,Abierto a cocina,Si,Si,NaN
29407,NaN,NaN,Si,NaN,Eléctrica,Privado,Si,NaN,Si,NaN,...,Si,Comunitaria,NaN,Si,Si,NaN,Si,Si,Si,NaN
29408,NaN,NaN,Si,NaN,Eléctrica,Privado,Si,NaN,Abierta,NaN,...,Con jardin privado,Comunitaria,NaN,NaN,Si,NaN,Con sofa cama,NaN,Si,NaN

In [128]:
# Crear un diccionario para almacenar los valores únicos de cada columna
valores_unicos = {}

# Iterar sobre cada columna conflictiva y obtener los valores únicos
for col in columnas_si_no:
    valores_unicos[col] = df[col].unique()

# Mostrar los valores únicos de cada columna
for col, valores in valores_unicos.items():
    print(f"Valores únicos en la columna '{col}': {valores}\n")

Valores únicos en la columna 'luz': [nan 'Otra compañía' 'Si' 'Endesa' 'Iberdrola' 'Unión fenosa']

Valores únicos en la columna 'sistema_de_seguridad': ['Si' nan 'Videovigilancia' 'Alarma' 'Vigilancia 24h' 'Sistema de alarma'
 '24 horas' 'Camara y alarma' 'Llave unica'
 'Security entrance, security shutters' 'Portero 24 h.'
 'Security service 24h, surveillance cameras'
 'Security entrance, security service 24h, surveilla' 'Security entrance'
 'Security service 24h' 'Security entrance, security service 24h'
 'Alarm, security service 24h'
 'Alarm, security service 24h, surveillance cameras'
 'Alarm, security entrance, security service 24h'
 'Security entrance, surveillance cameras' 'Alarm, surveillance cameras'
 'Alarm, security entrance' 'Surveillance cameras' 'Alarm'
 'Alarm, security entrance, security shutters, surve' 'Portero físico'
 'Alarm, security entrance, security service 24h, se' 'Mantenedor'
 'Camaras de grabación en zonas comunes' 'Urbanización privada cerrada'
 'Pre instalación alarma' 'Zona video vigilada con cámaras de seguridad'
 'Alarma opcional' 'Puerta acorazada' 'Conserje'
 'Sistema de alarma de seguridad' 'Puerta blindada'
 'El conserje, vive en la urbanización' 'con cámaras de seguridad'
 'Conserje de lunes a domingo' '12 horas/día los 7 días/semana.'
 '24  horas' '24 hs' 'Puerta entrada blindada' '24h.conserje'
 'vigilancia 24h, con cámaras de seguridad'
 'Cctv en zonas comunes de acceso' 'Portero'
 'Servicio privado de portería' 'Conserjeria 24h' 'Conserjería 24h'
 'Conserge 24 horas' 'Security shutters' 'Servicio de portería'
 'Portero en edificio']

Valores únicos en la columna 'vidrios_dobles': ['Si' nan 'Climalit' 'Tipo climalit' 'Lumon' 'Doble acristalamiento'
 'Aislante tipo climalit' 'Concristal aislante tipo climalit'
 'No hay ruido del exterior' 'Ventanas velux'
 'Climalit oscilovatientes + mosquiteras' 'Cortizo' 'Aislante'
 'Sistema climalit' 'Ventanas insonorizadas' 'Insonorizados' 'No'
 'Climalite' 'Rotura puente térmico' 'Aluminio climalit'
 'Con aislante térmico y acústico de 20mm.'
 'Climalit con rotura puente térmico' 'En salon' 'Salon' 'Dobles'
 'Doble ventana' 'Tiene doble cristal.' 'En todas las ventanas'
 'Buen aislamiento' 'Cristales climalit' 'Ventanas oscilobatientes'
 'Ventanales a medida con cristales dobles' 'Climalit con mosquiteras'
 '"tipo climalit"' 'Doble cristal tipo climalit' 'Nuevos'
 'De aluminio blanco' 'Ventanas doble acristalamiento' 'P.v.c' 'Pvc']

Valores únicos en la columna 'se_aceptan_mascotas': [nan 'Si']

Valores únicos en la columna 'calefaccion': ['Eléctrica' nan 'Si' 'Central' 'En salon y dormitorio' 'Centralizada'
 'Centralizado' 'En salon' 'Dos consolas' 'Sin especificar'
 'En salon y dos dormitorios' 'Radiadores' 'Gas natural' 'Gasoil'
 'Suelo radiante' 'Individual' 'Preinstalación' 'Bomba frío calor'
 'Central heating' 'Central heating, underfloor heating (throughout)'
 'Central heating, underfloor heating (bathrooms)'
 'Underfloor heating (throughout)' 'Underfloor heating (partial)'
 'Underfloor heating (bathrooms)' 'Chimenea'
 'Central heating, ceiling heating system'
 'Underfloor heating (throughout), underfloor heatin'
 '1 split frio / calor' 'Aerotermia' 'Aereotermia'
 'Individual gas - radiadores' 'Central sin contador - radiadores'
 'Gas natural independiente' 'Calefacción individual' 'Acumulador'
 'Central gas con cotador' 'Emisor térmico de bajo consumo'
 'Central con contador individual' 'Central con uso individual'
 'Individual gas natural' 'Individual eléctrica' 'Indiv. Gas natural'
 'Ss/cc y agua' 'Individual de gas natural' 'Central. Todo incluido'
 'Chimenea aire caliente' 'Radiante' 'Pellet' 'aerotermia' 'Electric'
 'Heat pumps' 'Bomba de calor' 'Centralised fuel oil' 'Centralised gas'
 'Por conducto' 'Solar' 'Ind.gas' 'Individual a gas'
 'Bomba de calor inverter' 'Aire acondicionado' 'Electrica'
 'Con contadores individuales' 'Bomba frio calor'
 'Aire acondicionado frio/calor' 'Contadores individuales'
 'Suelo radiante, aerotermia y placas solares' 'Central individualizado'
 'Placas solares' 'Bomba friol calor' 'Con contador individual'
 'Central de gas con contadores individuales' 'Individual gas'
 'Bomba de frío y calor a través de conductos' 'Yes' 'Split' 'Fireplace'
 'Centralised' 'Heater' 'Hot cold' 'Radiador electrico en salón'
 'No dispone' 'Calefacción central' 'Gas ciudad'
 'Gas ciudad con contador individual' 'Eléctrica de bajo consumo' 'Leña'
 'Contador individual' 'Electrica de bajo consumo' 'Central con contador'
 'Bomba aire y calor']

Valores únicos en la columna 'jardin': ['Comunitario' nan 'Privado' 'Si' 'Propio' 'Si,']

Valores únicos en la columna 'trastero': [nan 'Si' 'Trastero nº14' 'Pago extra' '-1' 'Dentro vivienda' 'Opcional'
 'Sot-3 en la misma plaza 5m²' 'En la 2da planta' 'En caseta' 'Nº 17'
 'Dentro del piso' 'Opcional, con la plaza de garaje' 'De 13 m²'
 'Incluye un trastero en la venta' 'Dentro de la vivienda'
 'En la vivienda' 'Nº 10 y garaje nº 10' '17 m²' '10, g. 9' '10'
 'En comunidad' 'Un trastero' 'Incluido en el precio' 'En la misma finca'
 'Pequeño en la terraza tendedero de la cocina' 'Amplio' '15' '8'
 'Comunitario para dejar sillitas o bicis.'
 'Trastero en la terraza, caseta' 'Salida cocina' 'Trastero en el piso'
 'Incluido' '6 metros cuadrados' '8 metros cuadrados' 'En planta sótano'
 '18 metros cuadrados' '5 metros cuadrados' 'Tendedero'
 '20 metros cuadrados' '4 metros cuadrados' 'En la planta sótano'
 'Nº 4 - 2' '0 metros cuadrados' '32 metros cuadrados'
 'Trastero en sotano' '2 amplios' 'Junto a parcela de garaje'
 'Al lado y arriba' 'Opcional 50€' 'Tiene trastero.']

Valores únicos en la columna 'gastos_de_comunidad': [nan '50' 'Incluidos' 'Comunidad incluida' '60'
 'Comunidad incluida y basura (incluidos)'
 'Comunidad y basura (incluidos)'
 'Comunidad incluida más 30 euros de internet' 'Si'
 'Comunidad y basura (incluido)' '40' 'Comunidad e internet (incluido)'
 '41' 'Más de 100 €' '70' 'Inlcuidos' 'Entre 10 y 20 €' 'Entre 60 y 80 €'
 '100' 'Entre 40 y 60 €' 'Entre 20 y 40 €' 'Incluidas'
 'Incluidos en el precio' 'Entre 80 y 100 €' 'Incluida 65,00 €' '80'
 'Incluido en el precio' 'No tiene' 'Incluida' '321,50' '190' '115' '195'
 '30,91' '500' 'Incluidos en la renta junto con el agua' 'Sin especificar'
 'Incluido' '-' '80€' 'Incuídos' '23,19' '0€' 'Al mes.'
 '50€ con garaje, de nov. A mayo :70€-130€' 'Incluidos (con agua)'
 'Se repercute al inquilino optante' '73' 'Incluidos en la renta'
 'Incluídos en el precio del alquiler'
 'Incluidos en el precio de alquiler' 'A consultar'
 'Incluido en el precio de alquiler'
 'Incluidos, solo, se paga, basuras, gas, luz, agua'
 'Alquiler de septiembre a junio' 'A cargo de la propiedad' '60 € por mes'
 '40 €' '30' 'Gastos incluidos' 'Gastos de comunidad incluidos'
 'Los gastos estan incluidos' 'Gastos de comunidad includos'
 'Incluido en precio' 'Comunidad a cargo de la propiedad'
 'Incluidos en precio' 'Incluids' 'Incluida en el precio' '83' '340'
 'Sin comunidad' 'No aplicable' 'Incluido en el alquiler' '69'
 'Incluidos en renta' 'Mas 150€ de gastos de comunidad' '123,52'
 'Incluida 75 €' '55' '150']

Valores únicos en la columna 'cocina_equipada': ['Cocina amueblada' 'Amueblada' nan 'Si' 'Americana - amueblada con elec.'
 'Independiente - amueblada con elec.' 'Reformada' 'Individual' 'Equipada'
 'Con lavavajillas' 'Available' 'Cocina equipada'
 'Independiente amueblada' 'Amueblado' 'Amueblada con electrodomesticos'
 'Equipada.' 'Amueblada y equipada' 'Con gran despensa'
 'Americana de diseño' 'Amueblada. Electrodomesticos nuevos' '2'
 'Amueblada con electrodomésticod'
 'Amueblada completamente con electrodomésticos'
 'Con comedor todo en un mismo ambiente' 'Todo en un mismo ambiente'
 'Totalmente equipada' 'Cocina americana'
 'Amueblada con electrodomésticos' 'Completa' 'Americana'
 'Amueblada sin electrodomésticos' 'Cocina office.' 'Independiente'
 'Amueb' 'Induccion' 'Abierta' '- equipada' 'Americana - equipada'
 'Individual - equipada' 'Tostador, kettle' 'Con pasaplatos al salon'
 'Equipado totalmente' 'Completa con lavavajillas'
 'Amueblada electrodomest' 'Nueva a estrenar' 'Compartido'
 'Independiente - amueblada sin elec.' 'Office'
 'amueblada con electrodomesticos' 'Independiente con patio'
 'Totalmente equipada y con despensa' 'Equipada con electrodomesticos'
 'Fully fitted kitchen' 'Fully fitted kitchen, kitchen equipped'
 'Completamente equipada' 'Amueblada y equipada con electrodomésticos'
 'Equipada con electrodomésticos' 'Abierta al salón' 'Kitchen equipped'
 'Americana.' 'Fully fitted kitchen, open plan kitchen' 'Abierta con isla'
 'Fully fitted kitchen, kitchen equipped, open plan'
 'Fully fitted kitchen, kitchenette' 'Cocina abierta' 'Cocina cerrada'
 'Parcialmente equipada' 'Am' 'Cocina independiente'
 'Independiente-equipada' 'Amueblada sin electrodomesticos'
 'Independiente amueblada con electrodométicos'
 'Reformada con electrodomésticos, todo a estrenar'
 'Amueblada y equipada con electrodomesticos' 'Con galería'
 '-cocina-salón totalmente equipada' '-cocina totalmente equipada'
 'Equipada y amueblada'
 '- faltan lavadora y frigorifico (si fuera necesario los pondría la propiedad) - zona office. - zona servicio con dormitorio y empotrado + aseo (bañera).'
 '-totalmente equipada -a patio interior' '-totalmente equipada'
 'Equipada con zona lavanderia' 'Con salida a la terraza'
 'Equipada con despensa' 'Cocina amueblada.' 'Cocina no amueblada.'
 '1 equipada' 'De diseño' '8,55 m²'
 'Con todo lo necesario para vivir en el' 'Y equipada' 'Con despensa'
 'Con los mejores electrodomésticos, alta gama'
 'Cocina amueblada. Cocina americana.'
 'Americana, equipada: frigo, vitro, lavadora, etc.'
 'Equipada: frigo, vitro, horno, lavadora. Etc.'
 'Equipada: frigo, vitro, horno, lavavajillas, lavad'
 'Equipada: frigo, horno, vitro, lavadora, etc.'
 'Equipada: frigorífico, horno, vitro, lavadora, etc'
 'Equipada: frigo, vitro, lavadora, lavavajillas, et'
 'Horno, no lavavajillas'
 'Equipada: frigo, vitro, horno-microondas, lavadora'
 'Equipada, frigorífico, vitro, lavadora, etc.'
 'Equipada: frigorífico,  horno, vitro, lavadora, et' 'Con lavaplatos'
 'Amueblada con electrodomesticos a estrenar'
 'Amueblada completa y electrodomesticos'
 'Abierta al salón, amueblada con electrodomésticos'
 'Amueblada, electrodomesticos' 'Sin electrodomesticos'
 'Totalmente amuebladas' 'Office con isla' 'Cocina completa con comedor'
 'Lvj nuevo' 'Dos, una en cada una de las casas' 'Tipo office'
 'Reformada, equipada con electrodomésticos'
 'Americana, abierta al salón.' 'Independiente.' 'Nueva cocina americana'
 'Exterior' 'Independiente y equipada' 'Totalmente equipada con menaje'
 'Vitro' '13m²' 'Tipo americana, totalmente equipada'
 '16m² con salida al patio y jardín' 'Independiente y totalmente equipada'
 'Abierta tipo americana, equipada' 'Abierta al comedor'
 'Americana-equipada' 'Tipo americana' 'Idependiente' 'Salón - comedor'
 'Con salida a porche' 'Office con salida a patio' '6m²' 'Horno' 'Cerrada'
 'Todo en un espacio abierto' 'Dos en cada planta'
 'Independiente con lavadero' 'Con salida a terraza'
 'Incorporada en el comedor  (office) .'
 'Independiente totalmente equipada' 'Cocina totalmente equipada'
 'Con office' 'Equipada- amueblada' '21 m²'
 'Moderna y equipada con electrodomésticos' 'Salón cocina' 'Separada'
 'Americana o abierta' 'Equipada con todos los electrodomésticos'
 'Reformada a estrenar' 'Con office. Equipada' 'Cocina buen estado'
 'Estilo americano' 'Integrada en el salón'
 'Integrada al salón con su isla y balcón propio.'
 'Con todos los electrodomésticos'
 'Integrada en el salón con menaje completo' 'C0n electrodomésticos'
 'Completamente equipada integrada al salón' 'Amplia'
 'Con electrodomésticos de alta gama' 'Amplia ,moderna'
 'Amplia y equipada con electrodomésticos'
 'Amueblada  y con electrodomesticos'
 'Independiente totalmente equipada y amueblada'
 'Amueblada con lavadora y frigo' 'Sin lavavajillas:'
 'Sin lavavajillas . Con lavadora.' 'Con gran electrodomesticos'
 'Muy amplia con zona de comedor y equipada' 'Cocina en isla'
 'Amplia y equipada' 'Independiente con zona de office'
 'Independiente con zona de office y galería' 'Con electrodomesticos'
 'Independiente con office y galería' 'Indep.'
 'Cocina equipada con salida a galería' 'Con electrodomésticos'
 'Nevera, lavadora, lavavajillas, microndas' 'Bien equipada'
 'Cocina-comedor' 'Con barra americana' 'Abierta al salón comedor'
 'Equipada con lavavajillas, horno, microondas' 'Equipada con menaje'
 'Completa con ajuar de cocina' 'Equipada, integrada'
 'A estrenar, con o sin electrodomésticos' 'Toda equipada' 'Con galeria'
 'Nevera,lavadora, secadora, lavavajillas, microonda' 'Estrenar'
 'Lavadora' 'Muy luminosa, con electrodomésticos a estrenar'
 'Office amueblada y con electrodomésticos'
 'Con salida a lavadero, y terraza con barbacoa'
 'Toda equipada,vitro, horno, nevera, lavadora, lava'
 'Nueva a estrenar,totalmente equipada'
 'Cocina muy grande con electrodomesticos' 'Con electodomésticos'
 'Diseño, amueblada y equipada con electrodomésticos'
 'Individual. Reformada' 'Con comedor en la misma' 'Oficce'
 'Cocina integrada en el salon' 'Cocina con electrodomesticos'
 'No hay lavavajillas ni horno' 'Independiente equipada' 'Amueblada c/e'
 'Americana amueblada c/e' 'Americana con electrodomesticos'
 'De 30 m² amuebla c/e' 'Cocina con terraza de servicio'
 'Americana amueblada' 'Moderna y equipada'
 'Cocina no amueblada. Cocina americana.' 'Amueblada equipada'
 'Amueblada y con electrodomésticos'
 'Completamente equipada y abierta al salón'
 'Kitchen equipped, kitchenette' 'Equipado'
 'Kitchen equipped, open plan kitchen, kitchenette' 'Con electrodoméstico'
 'Diafana' 'Americana equipada con todo' 'Moderna'
 'Cocina completamente equipada' 'Amueblada integrada en salón'
 'Semiamueblada' 'Amueblada y electrodomesticos'
 'De origen excepto los electrodomésticos' 'Con balcon' 'Euipada' 'Cocina'
 'Comedor' 'Montada' 'De trabajo a patio' 'Copleta'
 'Interior, con zona de comedor' 'Cocina completa americana'
 'Equipada. Exterior al sur y con acceso a balcón-la'
 'Muy espaciosa y en un solo espacio abierta al saló'
 'Independiente con comedor' '10' 'Cocina-comedor exterior con balcón'
 'Equipada - americana abierta al salón' 'Equipada abierta al salón'
 'Cocina comedor exterior' 'Cocina compartida equipada'
 'Cocina equipada exterior' 'Interior equipada'
 'Equipada con salida a terraza' 'Con tendedero'
 'Equipada con espacio para comer' 'Balcon' 'Independiente, con despensa'
 'Equipada abierta' 'Equipada americana' 'Equipada nueva'
 'Si grande 15 mtrs' 'Totalmente equipada nueva'
 'Cocina equipada con balcón' 'Si, equipada' 'Equipada amplia'
 'Si, equipada, americana' 'Equipada nueva abierta al salón'
 'Equipada con colgador' 'Equipada con comedor'
 'Equipada estilo americano' 'Equipada con terraza amplia abierta'
 'Unida al salon y equipada' 'Totalente equipada'
 'Equipada e independiente' 'Con terraza tendedero'
 'Exterior, totalmente equipada' 'Amplia, con terraza tendedero'
 'Vitroceramica. Caldera de gas ciudad' 'Independiente, vitroceramica'
 'Vitroceramic,equipada' 'Amplia y reformada' 'amueblada y pequeña'
 'Amueblada y electrodomésticos' 'Propia' 'Muebles + electrodomesticos'
 'Abierta a comedor']

Valores únicos en la columna 'agua': [nan 'Termo electrico' 'Si' 'Available' 'Gasóleo' 'Dada de alta' 'Central'
 'Butano' 'Gas ciudad' 'Termo gas' 'Gas natural' 'Otros' 'Agua potable'
 'Aerotermia' 'Agua individual' 'Individual_electrica'
 'Central_con_contador_individual' 'Individual_gas' 'Si_sin_detallar'
 'Toma_de_gas' 'Individual_propano' 'Individual_gasoleo' 'Termo eléctrico'
 'Central con contador' 'Caliente por termo eléctrico'
 'Central con contador individual' 'Comunitaria'
 'Tiene suministro de agua.' 'Agua caliente mediante aerotermia' 'Caldera'
 'Caliente' 'Individual_butano' 'Propano']

Valores únicos en la columna 'aire_acondicionado': ['Frío' nan 'Preinstalación' 'Si' 'Frío y calor'
 'Split salon y dormitorio principal' 'Centralizado'
 'En salon y dormitorio' 'No tiene aire' 'Dormitorio principal'
 'Frío-calor' 'En salon' 'Dos consolas' 'Frío/calor centralizado'
 'Ventiladores de techo' 'Sin especificar' 'Aire en el salón'
 'Centraizado' 'En salon y dos dormitorios'
 'Máquinas de aire en toda la casa' 'Salón y dormitorio principal'
 'Splits y unidades' 'Una consola en cada habitacion salon' 'Frío/calor'
 'Frío y calor salón' 'Preinstalacion' 'Frío/carlor' 'Split'
 'Si - centralizado-frio/calor' 'A/a f/c' 'Comunitario' 'Instalación'
 'Ventiladores' 'A/a' 'De ventana' 'Split salon' 'A/a f/c centralizado'
 'Climatizador' 'Aire acondicionado centralizado' 'Individual a/c units'
 'Ceiling cooling system' 'Splits' '2 split' 'Centralizada' 'Tres split'
 'Aereotermia' 'Por conductos' 'Aerotermia' 'aerotermia' 'Yes'
 'Conductos centrales' 'A/a por conductos' 'Por conducto'
 'Con bomba de calor' 'Bomba calor y frio' 'Ventilarores'
 'Suelo refrescante' 'Hot cold' 'Chimenea' 'A/a f/c por conductos'
 'Split en el salon' '1 en salón'
 'Aire acondicionado por conductos frio calor'
 'Preinstalación por conductos' 'Split en el salón' 'Conductos'
 'Posiblemente pondrán' 'Aire acondicionado' 'Caleffacion de gas' 'No'
 'En el salon comedor' 'Aire acondicionado frío/calor']

Valores únicos en la columna 'terraza': ['Si' nan '2' 'De 10 m²' '8 m²' '20 m²' 'De 9 m²' 'De 8 m²' 'Acristalada'
 '20 m' '10 m²' '16 m²' '4.00 m²' '15 m²' '5 m²'
 'Dos, una de 8 m² y otra de 10 m²' '15.00 m²' 'De 15 m²'
 'Con vistas al mar' '3 m²' '70 m²' '60 m²' '10.00 m²' '40 m²' 'De 6 m²'
 '12 m²' 'Tres' '20.00 m²' '88.00 m²' 'Dada al salón' '25 m²'
 'Con vista al mar' '50 m²' 'Amplia' '3.00 m²' 'Dos' '30 m²' 'De 25 m²'
 'Available' 'M2' '26.26m²' 'Saliendo desde dormitorio principal.'
 'Saliendo del salon' '8' 'Comunitaria' 'Dispone de dos terrazas'
 '40 metros' '48mt' '60.00 m²' '1' '2 ambientes' '62m²' '15 mt.'
 'No acristalada' '9 m²' '18 m²' '11mt' '16 mt' '27 metros'
 'Amplia con vistas' 'Vista al mar' '2 terrazas' '25m²' 'Vistas al mar'
 '3' 'Dos terrazas alargadas' 'La terraza tiene 100 metros cuadrados'
 'Vista al mar mediterraneo' '15' 'mtrs=10' '10' '9'
 'Covered terrace, uncovered terrace' 'Private terrace'
 '2 terrazas con 13,96 m²' 'Varias terrazas' 'De unos 15m²'
 'Private terrace, covered terrace' 'Covered terrace'
 'Private terrace, covered terrace, uncovered terrac' '60ma'
 'Terraza cubierta' '35 m²' 'Con 4 metros cuadrados aproximadamente.'
 'Con 6 metros cuadrados aproximadamente.' '2 grandes terrazas con toldo'
 'Adosada al salón' '97 m72' 'Con 128 metros cuadrados aproximadamente.'
 'Con 100 metros cuadrados aproximadamente.' '12' 'Terraza' '35'
 '90 metros' 'Muy amplia' 'Private terrace, uncovered terrace' '27' '80'
 '6' '67' '3m²' '5m²' '50 metros'
 '-una galería cerrada, salida desde la cocina'
 '- en salón a sagasta con toldo y armario almacenaje. - galeria en cocina a patio de luces, zona tendedor y armario aluminio de almacenaje'
 '-salida desde el salón -cerrada -exterior a fdo. Católico'
 'Arriba de 60metros' '4' '40m²' 'Al sur' 'En cocina descubierta'
 'Salon y cocina cubierta' '2,30 m²' 'Cerrada en la cocina'
 '1 terraza y 1 balcón' '0 metros cuadrados' '2 cerradas' 'Cerrada'
 'Interior cocina' 'Cerrada en salón' '4 metros cuadrados'
 'Pequeña en la cocina' 'En el salón' '12 metros cuadrados'
 'Balcón con vistas y galería cerrada' 'Balcón' '10 metros cuadrados'
 'Solarium' '16' 'Grande' '53' 'Tiene terraza.' '138 m²' '66 m²' 'Toldo'
 'Amplia y despejada' '50m² solarium y 30m²' '5 metros'
 'Terraza solarium en la cubierta' 'Con toldo' 'Desde el comedor' '30 mts'
 'Privada interior' '20m²' '15m' 'Privada'
 'Terraza de 50m² de uso privativo independiente'
 'De uso privado aproximadamente de 20m²' '19 m²' '10m² patio' '30m²'
 'Privada de 19 m²' '3ra planta' 'Vista frotal mar'
 'Amplia terraza de 80 m²' 'Vista frontal al mar'
 'Vistas zona comunitaria' 'Vista al pueblo' 'Vista mar'
 'Vista al mar frontal' 'Vista frontal mar' 'Porche cubierto'

In [129]:
# Vamos a aplicar una logica común ya que este dato en la página da tres posibilidades:
# Escribir la caracteristica concreta o especificar que si, lo hemos reducido a "Si" por simplificar
# Escribir que no, implica confirmación de que no se da esa caracteristica en dicho inmueble por lo que la tratamos como "No"
# La tercera opción es que devolviera la clave valor vacía, lo que significa que no se especifica, de esta forma no nos inventamos información
def limpiar_columnas_si_no(valor, valores_unicos):
    if pd.isna(valor) or valor.strip() == "":
        return "Sin especificar"
    if valor == "Sin especificar":
        return valor
    elif "no" in valor.lower().split():
        return "No"
    else:
        return "Si"

# Iterar sobre cada columna conflictiva y limpiar los valores
for col in columnas_si_no:
    valores_unicos = df[col].dropna().unique()
    df[col] = df[col].apply(lambda x: limpiar_columnas_si_no(x, valores_unicos))

In [130]:
# Crear un diccionario para almacenar los valores únicos de cada columna
valores_unicos = {}

# Iterar sobre cada columna conflictiva y obtener los valores únicos
for col in columnas_si_no:
    valores_unicos[col] = df[col].unique()

# Mostrar los valores únicos de cada columna
for col, valores in valores_unicos.items():
    print(f"Valores únicos en la columna '{col}': {valores}\n")

Valores únicos en la columna 'luz': ['Sin especificar' 'Si']

Valores únicos en la columna 'sistema_de_seguridad': ['Si' 'Sin especificar']

Valores únicos en la columna 'vidrios_dobles': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'se_aceptan_mascotas': ['Sin especificar' 'Si']

Valores únicos en la columna 'calefaccion': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'jardin': ['Si' 'Sin especificar']

Valores únicos en la columna 'trastero': ['Sin especificar' 'Si']

Valores únicos en la columna 'gastos_de_comunidad': ['Sin especificar' 'Si' 'No']

Valores únicos en la columna 'cocina_equipada': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'agua': ['Sin especificar' 'Si']

Valores únicos en la columna 'aire_acondicionado': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'terraza': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'armarios_empotrados': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'balcon': ['Sin especificar' 'Si']

Valores únicos en la columna 'garaje': ['Si' 'Sin especificar']

Valores únicos en la columna 'puerta_blindada': ['Sin especificar' 'Si']

Valores únicos en la columna 'adaptado_a_personas_con_movilidad_reducida': ['Sin especificar' 'Si']

Valores únicos en la columna 'ascensor': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'alcantarillado': ['Sin especificar' 'Si']

Valores únicos en la columna 'portero_automatico': ['Sin especificar' 'Si']

Valores únicos en la columna 'exterior': ['Si' 'Sin especificar']

Valores únicos en la columna 'piscina': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'calle_alumbrada': ['Sin especificar' 'Si']

Valores únicos en la columna 'lavadero': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'amueblado': ['Si' 'Sin especificar' 'No']

Valores únicos en la columna 'gas': ['Sin especificar' 'Si']

Valores únicos en la columna 'comedor': ['Sin especificar' 'Si' 'No']

Valores únicos en la columna 'chimenea': ['Sin especificar' 'Si' 'No']

Valores únicos en la columna 'no_se_aceptan_mascotas': ['Sin especificar' 'Si']

Valores únicos en la columna 'telefono': ['Sin especificar' 'Si']

In [131]:
# Limpieza y unión en la columna 'se_aceptan_mascotas' 
df['se_aceptan_mascotas'] = df.apply(lambda row: 'Si' if row['se_aceptan_mascotas'] == 'Si' else 
                                                ('No' if row['no_se_aceptan_mascotas'] == 'Si' else 'Sin especificar'), axis=1)

df = df.drop(columns=['no_se_aceptan_mascotas'])

In [132]:
df['orientacion'].value_counts()

orientacion
Sur                  1305
Este                  903
Sureste               593
Oeste                 413
Norte                 374
                     ...
Este/oeste              1
Norte::sur::este        1
Sur este                1
Nordeste, sudeste       1
S/e, s/o                1
Name: count, Length: 92, dtype: int64

In [133]:
# Limpieza en la columna orientacion
mapeo_direcciones = {
    'norte': 'NORTE', 'n': 'NORTE', 'sur': 'SUR', 's': 'SUR', 
    'este': 'ESTE', 'e': 'ESTE', 'oeste': 'OESTE', 'o': 'OESTE', 
    'suroeste': 'SUROESTE', 'so': 'SUROESTE', 'sureste': 'SURESTE', 
    'se': 'SURESTE', 'noreste': 'NORESTE', 'ne': 'NORESTE', 
    'noroeste': 'NOROESTE', 'no': 'NOROESTE', 'este-sur': 'SURESTE', 
    'sur-oeste': 'SUROESTE', 'norte|este': 'NORESTE', 'norte|oeste': 'NOROESTE',
    'sur|este': 'SURESTE', 'north/east': 'NORESTE', 'north/west': 'NOROESTE',
    'south/east': 'SURESTE', 'south/west': 'SUROESTE', 'sur|oeste': 'SUROESTE',
    'norte|este|oeste': 'NORTE', 'se': 'SURESTE', 'sur, este, oeste': 'SUR',
    'norte::este': 'NORESTE', 'norte::oeste': 'NOROESTE', 'sur::este': 'SURESTE', 
    'sur::oeste': 'SUROESTE', 'sur::este::oeste': 'SUR'
}
df['orientacion'] = df['orientacion'].str.lower().map(mapeo_direcciones).fillna('Sin especificar')

In [134]:
df['orientacion'].value_counts()

orientacion
Sin especificar    10133
SUR                 1311
ESTE                 906
SURESTE              636
OESTE                415
SUROESTE             389
NORTE                376
NORESTE              243
NOROESTE             133
Name: count, dtype: int64

In [135]:
df.columns

Index(['antiguedad', 'identificador', 'telefono', 'carpinteria_interior',
       'ascensor', 'portero_automatico', 'armarios_empotrados', 'conservacion',
       'superficie_construida', 'lavadero', 'calle_alumbrada', 'calefaccion',
       'calle_asfaltada', 'codigo_postal', 'sistema_de_seguridad',
       'aire_acondicionado', 'cocina_equipada', 'agencia', 'terraza',
       'puerta_blindada', 'tipo_de_casa', 'gas', 'href', 'gastos_de_comunidad',
       'se_aceptan_mascotas', 'piscina',
       'adaptado_a_personas_con_movilidad_reducida', 'urbanizado', 'comedor',
       'soleado', 'habitaciones', 'nombre', 'ubicacion', 'exterior', 'jardin',
       'planta', 'superficie_solar', 'balcon', 'superficie', 'actualizacion',
       'emisiones', 'vidrios_dobles', 'orientacion', 'precio', 'luz',
       'consumo', 'trastero', 'coordenadas', 'superficie_util', 'agua',
       'baños', 'tipo_suelo', 'chimenea', 'alcantarillado', 'precio_m2',
       'timestamp', 'carpinteria_exterior', 'garaje', 'interior', 'amueblado'],
      dtype='object')

In [136]:
# Elimino algunas ya por su poco valor informativo o por ser redundantes(Ej: Soleado se sobreentiende con la columna orientación)
df = df.drop(columns=['urbanizado', 'calle_asfaltada', 'soleado', 'interior'])

In [137]:
df["antiguedad"].value_counts()

antiguedad
Más de 50 años        1672
Entre 30 y 50 años    1417
Entre 10 y 20 años    1339
Entre 20 y 30 años    1250
Menos de 5 años        667
Entre 5 y 10 años      498
Name: count, dtype: int64

In [138]:
# Columnas que deben ser 'category'
category_columns = [
    'telefono', 'ascensor', 'portero_automatico', 'armarios_empotrados', 'lavadero',
    'calle_alumbrada', 'calefaccion', 'sistema_de_seguridad', 'aire_acondicionado',
    'garaje', 'cocina_equipada', 'terraza', 'puerta_blindada', 'gas',
    'gastos_de_comunidad', 'adaptado_a_personas_con_movilidad_reducida', 'comedor',
    'exterior', 'jardin', 'balcon', 'vidrios_dobles', 'luz', 'trastero',
    'agua', 'chimenea', 'alcantarillado', 'piscina', 'amueblado'
]

# Columnas que deben ser 'object'
object_columns = [
    'antiguedad', 'identificador', 'carpinteria_interior', 'conservacion',
    'agencia', 'tipo_de_casa', 'href', 'se_aceptan_mascotas',
    'nombre', 'ubicacion', 'actualizacion', 'emisiones',
    'orientacion', 'consumo', 'coordenadas', 'carpinteria_exterior',
    'tipo_suelo', 'codigo_postal'
]

# Cambiar las columnas a category
for col in category_columns:
    df[col] = df[col].astype('category')

# Cambiar las columnas a object
for col in object_columns:
    df[col] = df[col].astype('object')

# Cambiar otros tipos de datos
df['superficie_construida'] = df['superficie_construida'].astype('float64')
df['superficie_solar'] = df['superficie_solar'].astype('float64')
df['superficie'] = df['superficie'].astype('float64')
df['precio'] = df['precio'].astype('float64')
df['superficie_util'] = df['superficie_util'].astype('float64')
df['precio_m2'] = df['precio_m2'].astype('float64')

df['habitaciones'] = df['habitaciones'].astype('Int64')
df['planta'] = df['planta'].astype('Int64')
df['baños'] = df['baños'].astype('Int64')

df['timestamp'] = pd.to_datetime(df['timestamp'])

In [139]:
df.dtypes.astype(str).sort_values()

habitaciones                                           Int64
baños                                                  Int64
planta                                                 Int64
piscina                                             category
adaptado_a_personas_con_movilidad_reducida          category
comedor                                             category
garaje                                              category
exterior                                            category
jardin                                              category
balcon                                              category
vidrios_dobles                                      category
luz                                                 category
trastero                                            category
agua                                                category
chimenea                                            category
alcantarillado                                      category
gastos_de_comunidad                                 category
gas                                                 category
amueblado                                           category
calle_alumbrada                                     category
armarios_empotrados                                 category
ascensor                                            category
puerta_blindada                                     category
lavadero                                            category
calefaccion                                         category
telefono                                            category
portero_automatico                                  category
aire_acondicionado                                  category
terraza                                             category
cocina_equipada                                     category
sistema_de_seguridad                                category
timestamp                                     datetime64[ns]
superficie                                           float64
precio                                               float64
precio_m2                                            float64
superficie_solar                                     float64
superficie_construida                                float64
superficie_util                                      float64
identificador                                         object
carpinteria_interior                                  object
coordenadas                                           object
tipo_suelo                                            object
carpinteria_exterior                                  object
tipo_de_casa                                          object
emisiones                                             object
orientacion                                           object
conservacion                                          object
actualizacion                                         object
ubicacion                                             object
nombre                                                object
codigo_postal                                         object
se_aceptan_mascotas                                   object
agencia                                               object
href                                                  object
consumo                                               object
antiguedad                                            object
dtype: object

In [140]:
# Obtener los valores únicos de la columna "ubicacion"
ubicaciones = df["ubicacion"].unique()

# Exportar los valores a un archivo .txt
with open("ubicaciones.txt", "w") as file:
    for ubicacion in ubicaciones:
        file.write(ubicacion + "\n")

In [141]:
df["ubicacion"].unique()

array(['almeria', 'cadiz', 'cordoba', 'granada', 'huelva', 'jaen',
       'malaga', 'sevilla', 'huesca', 'teruel', 'zaragoza', 'cantabria',
       'avila', 'burgos', 'leon', 'palencia', 'salamanca', 'segovia',
       'soria', 'valladolid', 'zamora', 'albacete', 'ciudad_real',
       'cuenca', 'guadalajara', 'toledo', 'barcelona', 'girona', 'lleida',
       'tarragona', 'madrid', 'alicante', 'castellon_castello',
       'valencia', 'badajoz', 'caceres', 'a_coruna', 'lugo', 'ourense',
       'pontevedra', 'islas_baleares_illes_balears', 'las_palmas',
       'santa_cruz_de_tenerife', 'la_rioja', 'navarra_nafarroa',
       'alava_araba', 'guipuzcoa_gipuzkoa', 'vizcaya_bizkaia', 'asturias',
       'murcia', 'cerdanya_francesa'], dtype=object)

In [142]:
# Usamos un diccionario para mapear los nombres antiguos a los nuevos
nuevos_nombres = {
    "almeria": "Almeria",
    "cadiz": "Cadiz",
    "cordoba": "Cordoba",
    "granada": "Granada",
    "huelva": "Huelva",
    "jaen": "Jaen",
    "malaga": "Malaga",
    "sevilla": "Sevilla",
    "huesca": "Huesca",
    "teruel": "Teruel",
    "zaragoza": "Zaragoza",
    "cantabria": "Cantabria",
    "avila": "Avila",
    "burgos": "Burgos",
    "leon": "Leon",
    "palencia": "Palencia",
    "salamanca": "Salamanca",
    "segovia": "Segovia",
    "soria": "Soria",
    "valladolid": "Valladolid",
    "zamora": "Zamora",
    "albacete": "Albacete",
    "ciudad_real": "Ciudad Real",
    "cuenca": "Cuenca",
    "guadalajara": "Guadalajara",
    "toledo": "Toledo",
    "barcelona": "Barcelona",
    "girona": "Girona",
    "lleida": "Lleida",
    "tarragona": "Tarragona",
    "madrid": "Madrid",
    "alicante": "Alicante/Alacant",
    "castellon_castello": "Castellon/Castello",
    "valencia": "Valencia",
    "badajoz": "Badajoz",
    "caceres": "Caceres",
    "a_coruna": "A Coruna",
    "lugo": "Lugo",
    "ourense": "Ourense",
    "pontevedra": "Pontevedra",
    "islas_baleares_illes_balears": "Islas Baleares/Illes Balears",
    "las_palmas": "Las Palmas",
    "santa_cruz_de_tenerife": "Santa Cruz de Tenerife",
    "la_rioja": "La Rioja",
    "navarra_nafarroa": "Navarra",
    "alava_araba": "Alava/Araba",
    "guipuzcoa_gipuzkoa": "Guipuzcoa/Gipuzkoa",
    "vizcaya_bizkaia": "Vizcaya/Bizkaia",
    "asturias": "Asturias",
    "murcia": "Murcia",
    "cerdanya_francesa": "Cerdanya Francesa"
}

In [143]:
def nuevos_nombres_df(df, column_name, rename_map):
    df[column_name] = df[column_name].apply(lambda x: rename_map.get(x, x.capitalize().replace('_',' ')))
    
# Renombramos las provincias en el DataFrame
nuevos_nombres_df(df, 'ubicacion', nuevos_nombres)

# Renombramos la columna de ubicacion a provincia
df.rename(columns={'ubicacion': 'provincia'}, inplace=True)

In [144]:
df["provincia"].unique()

array(['Almeria', 'Cadiz', 'Cordoba', 'Granada', 'Huelva', 'Jaen',
       'Malaga', 'Sevilla', 'Huesca', 'Teruel', 'Zaragoza', 'Cantabria',
       'Avila', 'Burgos', 'Leon', 'Palencia', 'Salamanca', 'Segovia',
       'Soria', 'Valladolid', 'Zamora', 'Albacete', 'Ciudad Real',
       'Cuenca', 'Guadalajara', 'Toledo', 'Barcelona', 'Girona', 'Lleida',
       'Tarragona', 'Madrid', 'Alicante/Alacant', 'Castellon/Castello',
       'Valencia', 'Badajoz', 'Caceres', 'A Coruna', 'Lugo', 'Ourense',
       'Pontevedra', 'Islas Baleares/Illes Balears', 'Las Palmas',
       'Santa Cruz de Tenerife', 'La Rioja', 'Navarra', 'Alava/Araba',
       'Guipuzcoa/Gipuzkoa', 'Vizcaya/Bizkaia', 'Asturias', 'Murcia',
       'Cerdanya Francesa'], dtype=object)

In [145]:
# Creamos un diccionario para mapear las provincias en sus comunidades autonomas
ccaa_provincias = {
    'Pais Vasco': ['Alava/Araba', 'Vizcaya/Bizkaia', 'Guipuzcoa/Gipuzkoa'],
    'Castilla-La Mancha': ['Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara', 'Toledo'],
    'Comunidad Valenciana': ['Alicante/Alacant', 'Castellon/Castello', 'Valencia'],
    'Andalucia': ['Almeria', 'Cadiz', 'Cordoba', 'Granada', 'Huelva', 'Jaen', 'Malaga', 'Sevilla'],
    'Castilla Y Leon': ['Avila', 'Burgos', 'Leon', 'Palencia', 'Salamanca', 'Segovia', 'Soria', 'Valladolid', 'Zamora'],
    'Extremadura': ['Badajoz', 'Caceres'],
    'Islas Baleares/Illes Balears': ['Islas Baleares/Illes Balears'],
    'Cataluna': ['Barcelona', 'Girona', 'Lleida', 'Tarragona'],
    'Galicia': ['A Coruna', 'Lugo', 'Ourense', 'Pontevedra'],
    'Comunidad De Madrid': ['Madrid'],
    'Region De Murcia': ['Murcia'],
    'Comunidad Foral De Navarra': ['Navarra'],
    'Principado De Asturias': ['Asturias'],
    'Islas Canarias': ['Las Palmas', 'Santa Cruz de Tenerife'],
    'Cantabria': ['Cantabria'],
    'La Rioja': ['La Rioja'],
    'Aragon': ['Huesca', 'Teruel', 'Zaragoza'],
    'Ciudad De Ceuta': ['Ceuta'],
    'Ciudad De Melilla': ['Melilla'],
    'Cerdanya Francesa': ['Cerdanya Francesa']
}

In [146]:
def get_comunidad_autonoma(provincia):
    for comunidad, provincias in ccaa_provincias.items():
        if provincia in provincias:
            return comunidad
    return None

df['comunidad_autonoma'] = df['provincia'].apply(get_comunidad_autonoma)

In [147]:
df.columns

Index(['antiguedad', 'identificador', 'telefono', 'carpinteria_interior',
       'ascensor', 'portero_automatico', 'armarios_empotrados', 'conservacion',
       'superficie_construida', 'lavadero', 'calle_alumbrada', 'calefaccion',
       'codigo_postal', 'sistema_de_seguridad', 'aire_acondicionado',
       'cocina_equipada', 'agencia', 'terraza', 'puerta_blindada',
       'tipo_de_casa', 'gas', 'href', 'gastos_de_comunidad',
       'se_aceptan_mascotas', 'piscina',
       'adaptado_a_personas_con_movilidad_reducida', 'comedor', 'habitaciones',
       'nombre', 'provincia', 'exterior', 'jardin', 'planta',
       'superficie_solar', 'balcon', 'superficie', 'actualizacion',
       'emisiones', 'vidrios_dobles', 'orientacion', 'precio', 'luz',
       'consumo', 'trastero', 'coordenadas', 'superficie_util', 'agua',
       'baños', 'tipo_suelo', 'chimenea', 'alcantarillado', 'precio_m2',
       'timestamp', 'carpinteria_exterior', 'garaje', 'amueblado',
       'comunidad_autonoma'],
      dtype='object')

In [148]:
# Vamos a reordenar las columnas del df para que sea mas sencilla su visualizacion
column_order = [
    'identificador', 'nombre', 'provincia','comunidad_autonoma', 'codigo_postal', 'coordenadas', 'href',
    'antiguedad', 'conservacion', 'superficie', 'superficie_util', 'superficie_construida','tipo_de_casa',
    'superficie_solar', 'planta', 'habitaciones', 'baños', 'calefaccion', 'aire_acondicionado', 'gas', 'agua',
    'luz', 'alcantarillado', 'telefono', 'sistema_de_seguridad', 'puerta_blindada', 'vidrios_dobles', 'tipo_suelo',
    'carpinteria_interior', 'carpinteria_exterior', 'chimenea', 'ascensor', 'portero_automatico', 'armarios_empotrados',
    'cocina_equipada', 'terraza', 'balcon', 'jardin', 'piscina', 'lavadero', 'comedor', 'trastero', 'garaje', 'amueblado',
    'se_aceptan_mascotas', 'adaptado_a_personas_con_movilidad_reducida', 'gastos_de_comunidad', 'precio', 'precio_m2',
    'emisiones', 'consumo', 'orientacion', 'calle_alumbrada', 'agencia', 'actualizacion', 'timestamp'
]

df = df[column_order]

In [149]:
df

,identificador,nombre,provincia,comunidad_autonoma,codigo_postal,coordenadas,href,antiguedad,conservacion,superficie,...,gastos_de_comunidad,precio,precio_m2,emisiones,consumo,orientacion,calle_alumbrada,agencia,actualizacion,timestamp
0,50886757575_100500,Apartamento en Carretera de Ciudad de Cádiz,Almeria,Andalucia,4740.0,"36.7171955, -2.6392756",https://www.pisos.com/alquilar/apartamento-urb...,Entre 20 y 30 años,En buen estado,90.0,...,Sin especificar,750.0,8.0,"C, C","C, C",ESTE,Sin especificar,FARO INMOBILIARIA,Anuncio actualizado el 01/03/2025,2025-03-01 17:43:44
1,48377934693_514659,Piso en calle Vera,Almeria,Andalucia,4007.0,"36.8317798, -2.4501068",https://www.pisos.com/alquilar/piso-ciudad_jar...,NaN,Reformado,75.0,...,Sin especificar,800.0,10.0,Error al procesar emisiones,Error al procesar consumo,Sin especificar,Sin especificar,ALMERICRIS INMOBILIARIA,Anuncio actualizado el 01/03/2025,2025-03-01 17:43:44
2,48426063799_501470,Piso en Ciudad Jardín-Tagarete-Zapillo,Almeria,Andalucia,4007.0,"36.8287258, -2.4493571",https://www.pisos.com/alquilar/piso-ciudad_jar...,NaN,En buen estado,95.0,...,Sin especificar,800.0,8.0,Error al procesar emisiones,Error al procesar consumo,Sin especificar,Sin especificar,ALCASA SERVICIOS INMOBILIARIOS,Anuncio actualizado el 01/03/2025,2025-03-01 17:43:45
3,49173485071_108900,Piso en La Envía,Almeria,Andalucia,NaN,"36.835574427, -2.611330666",https://www.pisos.com/alquilar/piso-la_envia-4...,NaN,NaN,100.0,...,Si,850.0,8.0,Error al procesar emisiones,Error al procesar consumo,Sin especificar,Sin especificar,M.M.C. INMOBILIARIA,Anuncio actualizado el 19/02/2025,2025-03-01 17:43:45
4,33340257518_100500,Piso en Carretera de Ciudad de Cádiz,Almeria,Andalucia,4740.0,"36.7171955, -2.6392756",https://www.pisos.com/alquilar/piso-urbanizaci...,NaN,En buen estado,90.0,...,Sin especificar,1250.0,13.0,"D, C","D, C",SUR,Sin especificar,FARO INMOBILIARIA,Anuncio actualizado el 01/03/2025,2025-03-01 17:43:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29404,41675245908_517227,"Apartamento en calle Roch, nº 5",Cerdanya Francesa,Cerdanya Francesa,NaN,"42.3871, 2.00175",https://www.pisos.com/alquilar/apartamento-oss...,NaN,Reformado,55.0,...,Sin especificar,750.0,13.0,"G, G","G, G",SUR,Sin especificar,FINQUES BELLVER,Anuncio actualizado el 02/01/2025,2025-03-01 19:50:19
29405,49206973095_517227,"Apartamento en calle Canigo, nº 3",Cerdanya Francesa,Cerdanya Francesa,NaN,"42.43690985362229, 2.0173286672415274",https://www.pisos.com/alquilar/apartamento-err...,Entre 5 y 10 años,En buen estado,55.0,...,Sin especificar,650.0,11.0,Error al procesar emisiones,Error al procesar consumo,ESTE,Sin especificar,FINQUES BELLVER,Anuncio actualizado el 08/12/2024,2025-03-01 19:50:20
29406,50887588369_517227,Apartamento en Carrer de Francesc Macià,Cerdanya Francesa,Cerdanya Francesa,NaN,"42.369853264, 1.775765794",https://www.pisos.com/alquilar/apartamento-sai...,Entre 5 y 10 años,En buen estado,70.0,...,Sin especificar,900.0,12.0,Error al procesar emisiones,Error al procesar consumo,Sin especificar,Sin especificar,FINQUES BELLVER,Anuncio actualizado el 14/01/2025,2025-03-01 19:50:20
29407,29256476347_517227,"Piso en calle Bajande, nº 5",Cerdanya Francesa,Cerdanya Francesa,NaN,"42.46671303609228, 2.0082377165662373",https://www.pisos.com/alquilar/piso-estavar_ce...,Menos de 5 años,En buen estado,65.0,...,Sin especificar,1200.0,18.0,Error al procesar emisiones,Error al procesar consumo,SUR,Sin especificar,FINQUES BELLVER,Anuncio actualizado el 31/01/2025,2025-03-01 19:50:20
29408,36693113219_517227,Apartamento en calle Caldegas,Cerdanya Francesa,Cerdanya Francesa,NaN,"42.4338622055752, 1.944115971585786",https://www.pisos.com/alquilar/apartamento-bou...,NaN,En buen estado,36.0,...,Sin especificar,1300.0,36.0,Error al procesar emisiones,Error al procesar consumo,ESTE,Sin especificar,FINQUES BELLVER,Anuncio actualizado el 01/03/2025,2025-03-01 19:50:20

In [150]:
nan_rows = df[df["comunidad_autonoma"].isna()]
provincias_nan = nan_rows["provincia"].unique()
print(provincias_nan)

[]

In [151]:
provincia_to_comunidad = {}
for comunidad, provincias in ccaa_provincias.items():
    for provincia in provincias:
        provincia_to_comunidad[provincia] = comunidad

In [152]:
df["comunidad_autonoma"] = df.apply(
    lambda row: provincia_to_comunidad.get(row["provincia"], row["comunidad_autonoma"]),
    axis=1
)

In [153]:
df["comunidad_autonoma"].isna().sum()

0

In [154]:
df.to_csv('alquileres_completo_limpio.csv', index=False)

In [155]:
df_limpio = pd.read_csv("csv_completos_limpio/alquileres_completo_limpio.csv", low_memory=False)

In [157]:
df_limpio["comunidad_autonoma"].isna().sum()

40