In [3]:
import pandas as pd

def normalizar_nombres(nombres):
    nombres = nombres.lower().replace(" ", "_") 
    nombres = nombres.replace('á', 'a').replace('é', 'e').replace('í', 'i').replace('ó', 'o').replace('ü', 'u').replace('ú', 'u')
    nombres = nombres.replace('Á', 'a').replace('É', 'e').replace('Í', 'i').replace('Ó', 'o').replace('Ú', 'u')
    return nombres

def limpiar_columnas(df):
    df.columns = [normalizar_nombres(col) for col in df.columns]
    
    #Columna precio
    df['precio'] = df['precio'].apply(lambda x: float(x.replace(' €/mes', '').replace('€', '').replace(' ', '').replace('.', '').replace(',', '.')) if 'A consultar' not in x else None)
    df['precio'] = df['precio'].astype(float) 

    #Columna precio_m2
    df['precio_m2'] = df['precio_m2'].apply(lambda x: float(x.replace(' €/m²', '').replace('€', '').replace(' ', '').replace('.', '').replace(',', '.')) if 'Error al procesar precio m²' not in x else None)
    df['precio_m2'] = df['precio_m2'].astype(float) 

    #Columna superficie
    df['superficie'] = df['superficie'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '')) if x.replace(' m²', '').replace(' ', '').isnumeric() else None)
    df['superficie'] = df['superficie'].astype(float) 

    #Columna superficie_util
    df['superficie_util'] = df['superficie_util'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '')) if isinstance(x, str) and x.replace(' m²', '').replace(' ', '').isnumeric() else None)
    df['superficie_util'] = df['superficie_util'].astype(float) 

    #Columna superficie_solar
    df['superficie_solar'] = df['superficie_solar'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '').replace('.', '').replace(',', '.')) if isinstance(x, str) and x.replace(' m²', '').replace(' ', '').replace('.', '').replace(',', '').isnumeric() else None)
    df['superficie_solar'] = df['superficie_solar'].astype(float) 

    #Columna superficie_construida
    df['superficie_construida'] = df['superficie_construida'].apply(lambda x: float(x.replace(' m²', '').replace(' ', '')) if isinstance(x, str) and x.replace(' m²', '').replace(' ', '').isnumeric() else None)
    df['superficie_construida'] = df['superficie_construida'].astype(float) 

    # Convertir las columnas a datetime o entero
    df['actualizacion'] = df['actualizacion'].str.extract(r'(\d{2}/\d{2}/\d{4})')
    df['actualizacion'] = pd.to_datetime(df['actualizacion'], format='%d/%m/%Y', errors='coerce')
    df['timestamp'] = pd.to_datetime(df['actualizacion'], errors='coerce')
    df['codigo_postal'] = df['codigo_postal'].astype('Int64')
    df['baños'] = df['baños'].astype('Int64')
    df['habitaciones'] = df['habitaciones'].astype('Int64')
    
    # Columna 'planta'
    df['planta'] = df['planta'].str.replace('ª', '', regex=False).str.strip()
    df['planta'] = df['planta'].replace({'Bajo': 0, 'Principal': 0, 'Semisótano': -1, 'Entresuelo': -1, 'Sótano': -1, 'Más de 20': 21})
    df['planta'] = df['planta'].astype('float64').astype('Int64')

    # Columnas conflictivas
    columnas_conflictivas = ['luz', 'sistema_de_seguridad', 'vidrios_dobles', 
                             'se_aceptan_mascotas', 'carpinteria_interior', 'calefaccion', 'jardin',
                             'trastero', 'calle_asfaltada', 'cocina_equipada', 'agua', 
                             'aire_acondicionado', 'terraza', 'armarios_empotrados', 'balcon', 
                             'gastos_de_comunidad', 'urbanizado', 'garaje', 'puerta_blindada', 
                             'adaptado_a_personas_con_movilidad_reducida', 'ascensor', 'alcantarillado', 
                             'portero_automatico', 'exterior', 'soleado', 'piscina', 'calle_alumbrada', 
                             'lavadero', 'amueblado', 'interior', 'gas', 'tipo_suelo', 
                             'carpinteria_exterior', 'comedor', 'chimenea', 'no_se_aceptan_mascotas', 'telefono']
    
    def limpiar_columnas_conflictivas(valor):
        if pd.isna(valor) or valor.strip() == "":
            return valor 
        elif "no" in valor.lower().split():  
            return "No"
        else:
            return "Si"
    
    for col in columnas_conflictivas:
        df[col] = df[col].apply(limpiar_columnas_conflictivas)
        df[col] = df[col].astype('category')  # Convertir a tipo 'category'
    
    # Eliminar duplicados y referencia
    df = df.drop_duplicates(subset='identificador', keep='first')
    df = df.drop(columns=['referencia'])
    
    # Columna 'se_aceptan_mascotas' 
    df['se_aceptan_mascotas'] = df.apply(lambda row: 'Si' if row['se_aceptan_mascotas'] == 'Si' else 
                                         ('No' if row['no_se_aceptan_mascotas'] == 'Si' else 'N/A'), axis=1)
    # Convertirla en category de Si, No y N/A uniendo y borrando no_se_aceptan_mascotas
    df['se_aceptan_mascotas'] = df['se_aceptan_mascotas'].astype('category')
    df = df.drop(columns=['no_se_aceptan_mascotas'])
    
    # Columna orientacion
    mapeo_direcciones = {
        'norte': 'NORTE', 'n': 'NORTE', 'sur': 'SUR', 's': 'SUR', 
        'este': 'ESTE', 'e': 'ESTE', 'oeste': 'OESTE', 'o': 'OESTE', 
        'suroeste': 'SUROESTE', 'so': 'SUROESTE', 'sureste': 'SURESTE', 
        'se': 'SURESTE', 'noreste': 'NORESTE', 'ne': 'NORESTE', 
        'noroeste': 'NOROESTE', 'no': 'NOROESTE', 'este-sur': 'SURESTE', 
        'sur-oeste': 'SUROESTE', 'norte|este': 'NORESTE', 'norte|oeste': 'NOROESTE',
        'sur|este': 'SURESTE', 'north/east': 'NORESTE', 'north/west': 'NOROESTE',
        'south/east': 'SURESTE', 'south/west': 'SUROESTE', 'sur|oeste': 'SUROESTE',
        'norte|este|oeste': 'NORTE', 'se': 'SURESTE', 'sur, este, oeste': 'SUR',
        'norte::este': 'NORESTE', 'norte::oeste': 'NOROESTE', 'sur::este': 'SURESTE', 
        'sur::oeste': 'SUROESTE', 'sur::este::oeste': 'SUR'
    }
    df['orientacion'] = df['orientacion'].str.lower().map(mapeo_direcciones).fillna('SIN ESPECIFICAR')
    
    return df

# Aplicar la limpieza de columnas al DataFrame
df = pd.read_csv("alquileres_scrap_completo.csv")
dfalquileres = limpiar_columnas(df)
dfalquileres.to_csv("alquilereslimpio.csv", index=False)

In [3]:
dfalquileres.columns

Index(['luz', 'jardin', 'sistema_de_seguridad', 'conservacion',
       'vidrios_dobles', 'se_aceptan_mascotas', 'timestamp',
       'carpinteria_interior', 'calefaccion', 'trastero', 'href',
       'calle_asfaltada', 'tipo_de_casa', 'cocina_equipada', 'agua',
       'emisiones', 'aire_acondicionado', 'terraza', 'armarios_empotrados',
       'actualizacion', 'superficie', 'balcon', 'gastos_de_comunidad',
       'urbanizado', 'superficie_construida', 'garaje', 'consumo',
       'puerta_blindada', 'adaptado_a_personas_con_movilidad_reducida',
       'identificador', 'ascensor', 'superficie_util', 'nombre',
       'alcantarillado', 'planta', 'baños', 'portero_automatico', 'exterior',
       'soleado', 'piscina', 'calle_alumbrada', 'precio_m2', 'precio',
       'lavadero', 'orientacion', 'amueblado', 'interior', 'habitaciones',
       'gas', 'tipo_suelo', 'carpinteria_exterior', 'superficie_solar',
       'comedor', 'antiguedad', 'codigo_postal', 'ubicacion', 'agencia',
       'chimenea', 'telefono'],
      dtype='object')

In [4]:
for col in dfalquileres.columns:
    print(f"Valores únicos para la columna {col}:")
    print(dfalquileres[col].unique())
    print("-" * 40)

Valores únicos para la columna luz:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna jardin:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna sistema_de_seguridad:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna conservacion:
[nan 'En buen estado' 'Reformado' 'A estrenar' 'A reformar']
----------------------------------------
Valores únicos para la columna vidrios_dobles:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna se_aceptan_mascotas:
['N/A', 'No', 'Si']
Categories (3, object): ['N/A', 'No', 'Si']
----------------------------------------
Valores únicos para la columna timestamp:
<DatetimeArray>
['2025-02-21 00:00:00', '2025-02-20 00:00:00', '2025-02-13 00:00:00',
 '2025-02-07 00:00:00', '2025-02-11 00:00:00', '2025-02-18 00:00:00',
 '2025-02-16 00:00:00', '2025-02-14 00:00:00', '2025-01-17 00:00:00',
 '2024-08-25 00:00:00',
 ...
 '2024-05-03 00:00:00', '2024-02-22 00:00:00', '2024-05-06 00:00:00',
 '2023-12-21 00:00:00', '2023-10-30 00:00:00', '2023-06-14 00:00:00',
 '2023-11-17 00:00:00', '2024-03-12 00:00:00', '2023-05-17 00:00:00',
 '2022-09-19 00:00:00']
Length: 333, dtype: datetime64[ns]
----------------------------------------
Valores únicos para la columna carpinteria_interior:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna calefaccion:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna trastero:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna href:
['https://www.pisos.com/alquilar/piso-plaza_de_toros_santa_rita04004-40920273409_100500/'
 'https://www.pisos.com/alquilar/piso-oliveros_altamira_barrio_alto04005-15062564089_100500/'
 'https://www.pisos.com/alquilar/piso-ciudad_jardin_tagarete_zapillo-658149002_501470/'
 ...
 'https://www.pisos.com/alquilar/apartamento-km_0_km_3-43392414912_109800/'
 'https://www.pisos.com/alquilar/apartamento-km_0_km_3-945856909436630_109800/'
 'https://www.pisos.com/alquilar/piso-km_6_km_830380-44201590595_109800/']
----------------------------------------
Valores únicos para la columna calle_asfaltada:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna tipo_de_casa:
[nan 'Unifamiliar' 'Adosada' 'Rústica' 'Pareada']
----------------------------------------
Valores únicos para la columna cocina_equipada:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna agua:
['Si', NaN]
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna emisiones:
['Error al procesar emisiones' 'E, D' 'G, F' 'G, E' 'E, E' 'G, G' 'F, E'
 'F, F' 'D, C' 'C, C' 'D, D' 'A, A' 'E, F' 'B, B' 'C, B' 'B, G' 'B, A'
 'D, E' 'A, B' 'C, G' 'E, G' 'C, D' 'C, A' 'E, B' 'F, G' 'D, F' 'E, C'
 'D, A' 'A, E' 'B, C' 'E, A' 'C, E' 'B, E']
----------------------------------------
Valores únicos para la columna aire_acondicionado:
['Si', NaN, 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna terraza:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna armarios_empotrados:
['Si', NaN, 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna actualizacion:
<DatetimeArray>
['2025-02-21 00:00:00', '2025-02-20 00:00:00', '2025-02-13 00:00:00',
 '2025-02-07 00:00:00', '2025-02-11 00:00:00', '2025-02-18 00:00:00',
 '2025-02-16 00:00:00', '2025-02-14 00:00:00', '2025-01-17 00:00:00',
 '2024-08-25 00:00:00',
 ...
 '2024-05-03 00:00:00', '2024-02-22 00:00:00', '2024-05-06 00:00:00',
 '2023-12-21 00:00:00', '2023-10-30 00:00:00', '2023-06-14 00:00:00',
 '2023-11-17 00:00:00', '2024-03-12 00:00:00', '2023-05-17 00:00:00',
 '2022-09-19 00:00:00']
Length: 333, dtype: datetime64[ns]
----------------------------------------
Valores únicos para la columna superficie:
[7.8000e+01 1.0200e+02 9.5000e+01 9.8000e+01 7.4000e+01 7.5000e+01
 8.5000e+01 1.0000e+02 7.3000e+01 1.2000e+02 4.5000e+01 1.2500e+02
 1.1700e+02 7.0000e+01 1.1000e+02 7.1000e+01 4.0000e+01 5.1000e+01
 1.0500e+02 1.5000e+02 9.0000e+01 6.0000e+01 1.2100e+02 1.3100e+02
 1.1300e+02 1.1200e+02 2.1000e+02 9.2000e+01 1.0400e+02 1.1800e+02
 1.6800e+02 5.5000e+01 1.1500e+02 1.0800e+02 1.0700e+02 8.0000e+01
 7.7000e+01 1.0100e+02 1.3000e+02 8.9000e+01 1.2800e+02 5.0000e+01
 6.5000e+01 8.8000e+01 8.6000e+01 1.4600e+02 1.0300e+02 9.4000e+01
 1.4500e+02 7.2000e+01 1.3400e+02 9.6000e+01 3.1900e+02 1.1100e+02
 1.4800e+02 6.8000e+01 1.9000e+02 1.3800e+02 1.3500e+02 2.4000e+02
 1.2400e+02 3.5000e+01 1.2600e+02 1.3700e+02 8.4000e+01 2.8500e+02
 9.7000e+01 3.2000e+01 1.1900e+02 6.6000e+01 5.9000e+01 9.3000e+01
 1.8000e+02 1.5300e+02 1.7000e+02 7.9000e+01 4.1000e+01 1.5900e+02
 2.3000e+02 9.0000e+00 4.6000e+01 8.7000e+01 9.1000e+01 6.4000e+01
 5.2000e+01 7.6000e+01 3.0000e+01 4.2000e+01 6.1000e+01 5.8000e+01
 5.6000e+01 8.2000e+01 1.4000e+02 5.7000e+01 4.7000e+01 4.0000e+02
 1.6500e+02 4.8000e+01 2.0000e+02 9.9000e+01 6.9000e+01 5.3000e+01
 6.7000e+01 1.0000e+00 6.2000e+01 2.0500e+02 4.9000e+01 2.0000e+00
 1.6000e+02 1.8900e+02 1.4700e+02 2.5000e+02 3.0000e+02 2.8000e+02
 2.2000e+02 1.1600e+02 2.6500e+02 5.0000e+02 6.0000e+02 9.6000e+02
 4.3000e+01 1.7100e+02 8.1000e+01 2.3500e+02 2.5000e+01 1.2000e+01
 2.2400e+02 1.8500e+02 1.4300e+02 3.7000e+01 8.3000e+01 1.0600e+02
 3.0000e+00 1.1400e+02 7.6319e+04 4.4000e+01 3.9000e+01 1.3600e+02
 3.6000e+01 2.7000e+02 1.9500e+02 1.5500e+02 1.5700e+02 1.7200e+02
 2.2800e+02 6.3000e+01 2.1300e+02 2.9000e+01 1.2900e+02 1.2200e+02
 2.4000e+01 4.0500e+02 1.0900e+02 1.3200e+02 3.8000e+01 2.2300e+02
 1.8600e+02 1.5600e+02 2.0100e+02 5.0100e+02 1.9800e+02 2.8400e+02
 1.3900e+02 1.3300e+02 2.3100e+02 3.1500e+02 1.9700e+02 1.5200e+02
 1.8400e+02 3.3000e+01 1.2300e+02 2.4300e+02 1.6100e+02 7.8000e+02
 9.9000e+02 7.4000e+02 4.9000e+02 8.4000e+02 1.9200e+02 3.8300e+02
 2.7600e+02 2.2900e+02 1.6900e+02 3.8000e+02 2.6000e+02 3.2000e+02
 4.5000e+02 4.6600e+02 1.4400e+02 1.4100e+02 3.0500e+02 7.6000e+02
 1.6600e+02 4.1000e+02 5.8000e+02 1.7900e+02 6.5000e+02 3.5000e+02
 4.6500e+02 3.1000e+02 9.9500e+02 7.0000e+02 2.0900e+02 2.1800e+02
 1.7300e+02 2.3900e+02 8.0400e+02 2.2500e+02 5.0000e+00 3.9000e+02
 4.3100e+02 1.7400e+02 6.7200e+02 8.6000e+02 2.0400e+02 1.8800e+02
 3.7400e+02 2.8600e+02 5.7800e+02 2.8100e+02 3.2900e+02 1.7500e+02
 3.6000e+02 5.7100e+02 3.3600e+02 8.0500e+02 1.4900e+02 3.6900e+02
 9.8000e+02 4.3600e+02 4.5500e+02 2.9700e+02 6.3200e+02 5.5000e+02
 3.8200e+02 3.7000e+02 2.1500e+02 6.6700e+02 9.1000e+02 1.5400e+02
 1.8100e+02 3.7900e+02 4.4800e+02 6.2900e+02 7.5000e+02 2.7200e+02
 9.0000e+02 3.3000e+02 8.0000e+02 1.7800e+02 1.6400e+02 1.9400e+02
 2.9500e+02 4.2000e+02 3.3300e+02 3.1700e+02 2.2700e+02 5.4000e+02
 1.5100e+02 3.7500e+02 3.2800e+02 4.2900e+02 1.8300e+02 1.6200e+02
 2.1000e+01 2.3700e+02 3.1300e+02 1.7600e+02 2.5900e+02 2.3000e+01
 1.2700e+02 3.4000e+01 5.2000e+02 1.8200e+02 3.8800e+02 1.6300e+02
 9.3000e+02 4.0300e+02 3.9400e+02 6.1500e+02 2.2000e+01 3.4000e+02
 5.6100e+02 1.5800e+02 3.8900e+02 2.4900e+02 2.7400e+02 2.7100e+02
 1.9300e+02 6.0000e+00 8.7400e+02 2.0300e+02 2.5500e+02 5.4000e+01
 2.3200e+02 4.0000e+00 2.7800e+02 3.9100e+02 2.9400e+02 1.5000e+01
 2.9100e+02 8.0000e+00 2.6700e+02 2.7000e+01 2.1400e+02 2.3400e+02
 1.8700e+02 1.8000e+01 2.4400e+02 2.9600e+02 3.1000e+01 3.6100e+02
 7.6256e+04 2.7500e+02 4.3800e+02 5.4600e+02 1.7700e+02 2.1700e+02
 2.0700e+02 2.1200e+02 2.6000e+01 2.9300e+02 5.8400e+02 2.4100e+02
 2.1100e+02 2.0600e+02 1.9600e+02 1.6700e+02 2.3800e+02 3.3200e+02
 4.7000e+02 5.1100e+02 6.3100e+02 3.7600e+02 2.6600e+02 2.0200e+02
 3.5900e+02 5.4500e+02 2.6800e+02 2.8900e+02 7.1700e+02 4.8000e+02
 2.9000e+02 3.1200e+02 3.5300e+02 3.3900e+02 4.9400e+02 3.1400e+02
 3.9200e+02 3.4500e+02 2.5600e+02 2.2200e+02 2.5400e+02 9.0500e+02
 8.5500e+02 7.6350e+04 9.4000e+02 8.8000e+02 9.7500e+02 8.6500e+02
 3.8100e+02 2.5100e+02 4.0800e+02 3.2200e+02 8.9000e+02 8.1000e+02
 9.2000e+02 8.5000e+02 6.1600e+02 9.5000e+02 6.7000e+02 3.6600e+02
 2.8000e+01 1.4200e+02 1.9900e+02 1.9100e+02 2.3300e+02 1.1000e+01
 2.4200e+02 4.4000e+02 2.2100e+02 2.0800e+02 2.4800e+02 4.3000e+02
 4.7900e+02 2.8300e+02 2.6400e+02 5.5200e+02 5.4300e+02 3.3400e+02
 5.5700e+02 2.3600e+02 4.5900e+02 5.1000e+02 2.7300e+02 5.7000e+02
 3.0600e+02 2.0000e+01 2.4700e+02 4.9200e+02 6.3000e+02 3.3500e+02
 3.2500e+02 4.8200e+02 2.4500e+02 4.6300e+02 2.6300e+02 4.1100e+02
 2.7700e+02 3.0700e+02 1.9000e+01 6.1000e+02 7.7300e+02 3.7800e+02
 7.6400e+02 4.7500e+02 5.3000e+02 5.9000e+02 3.5800e+02 4.3500e+02
 3.1100e+02 2.6900e+02 4.9900e+02 2.9800e+02 3.6700e+02 2.7900e+02
 6.5200e+02 2.1600e+02 9.7000e+02 7.6324e+04 2.5200e+02 7.1000e+02
 3.5700e+02 2.5300e+02 8.2000e+02 3.4300e+02 8.6300e+02 6.9000e+02
 5.8500e+02 2.6100e+02 7.0400e+02 7.9000e+02 8.2800e+02 5.6600e+02
 4.1600e+02 2.2600e+02 1.0000e+01 5.0600e+02 8.0600e+02 1.6000e+01
 4.3700e+02 1.3000e+01 3.3700e+02 4.3200e+02 3.4600e+02 1.4000e+01
 4.2800e+02 6.9300e+02 7.2800e+02 3.6800e+02 4.4900e+02 7.6800e+02
 4.1200e+02 3.9500e+02 4.1400e+02 2.4600e+02        nan 4.0700e+02
 2.8200e+02 3.6200e+02 5.2100e+02 3.2400e+02 3.5500e+02 3.6400e+02
 6.8300e+02 5.3700e+02 6.6000e+02 3.8500e+02 5.2900e+02 6.4500e+02
 4.0200e+02 5.0200e+02 3.1600e+02 7.0000e+00 3.6500e+02 7.6600e+02
 4.6000e+02 4.0100e+02 5.7600e+02 4.2100e+02 6.2600e+02 7.8500e+02
 5.0700e+02]
----------------------------------------
Valores únicos para la columna balcon:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna gastos_de_comunidad:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna urbanizado:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna superficie_construida:
[ 78. 102.  95.  98.  74.  75.  85. 100.  73. 120.  45. 125. 117.  70.
 110.  71.  40.  51. 105. 150.  90.  60. 121. 131. 113. 112. 210.  92.
 104. 118. 168.  55. 115. 108. 107.  80.  77. 101. 130.  89. 128.  50.
  65.  88.  86. 146. 103.  94. 145.  72. 134.  96. 319. 111. 148.  68.
 190. 138. 135. 240. 124.  35. 126. 137.  84. 285.  97.  32. 119.  66.
  59.  93. 180. 153. 170.  79.  41. 159. 230.   9.  46.  87.  91.  64.
  52.  76.  30.  42.  61.  58.  56.  82. 140.  57.  47. 400. 165.  48.
 200.  99.  69.  53.  67.   1.  62.  nan 205.  49. 160. 189. 147. 250.
 300. 280. 220. 116. 265. 500. 600. 960.  43. 171.  81. 235.  25.  12.
 224. 185. 143.  37.  83. 106. 114.  44.  39. 136.  36. 270. 195. 155.
 157. 172. 228.  63. 213.  29. 129. 122.  24. 405. 109. 132.  38. 223.
 186. 156. 201. 501. 198. 284. 139. 133. 231. 315. 197. 152. 184.  33.
 123. 243. 161. 780. 990. 740. 490. 840. 192.   2. 383. 276. 229. 169.
 380. 260. 320. 450. 466. 144. 141. 305. 760. 166. 410. 580. 179. 650.
 350. 465. 310. 995. 700. 209. 218. 173. 239. 804. 225. 390. 431. 174.
 672. 860. 204. 188. 374. 286. 578. 281. 329. 175. 360. 571. 336. 805.
 149. 369. 980. 436. 455. 297. 632. 550. 382. 370. 215. 667. 910. 154.
 181. 379. 448. 629. 750. 272. 900. 330. 800. 178. 164. 194. 295. 420.
 333. 317. 227. 540. 151. 375. 328. 429. 183. 162.  21. 237. 313. 176.
 259.  23. 127.  34. 520. 182. 388. 163. 930. 403. 394. 615.  22. 340.
 561. 158. 389. 249. 274. 271. 193.   3.   6. 874. 203. 255.  54. 232.
 391. 294.  15. 291.   8. 267.  27. 214. 234. 187.  18. 244. 296.  31.
 361. 275. 438. 546. 177. 217. 207. 212.  26. 293. 584. 241. 211. 206.
 196. 167. 238. 332. 470. 511. 631. 376. 266. 202. 359. 545. 268. 289.
 717. 480. 290. 312. 353. 339. 494. 314. 392. 345. 256. 222. 254. 905.
 855. 940. 880. 975. 865. 381. 251. 408. 322. 890. 810. 920. 850. 616.
 950. 670. 366.  28. 142. 199. 191. 233.  11. 242. 440. 221. 208. 248.
 430. 479. 283. 264. 552. 543. 334. 557. 236. 459. 510. 273. 570. 306.
  20. 247. 492. 630. 335. 325. 482. 245. 463. 263. 411. 277. 307.  19.
 610. 773. 378. 764. 475. 530. 590. 358. 435. 311. 269. 278. 499. 298.
 367. 279. 652. 216. 970. 252. 710. 357. 253. 820. 343. 863. 690. 585.
 261. 704. 790. 226.  10. 506. 806.  16. 437.  13. 337. 432. 346.  14.
 428. 693. 728. 368. 449. 768. 412. 395. 414. 246. 407. 282. 362. 521.
 324.   4. 355. 364. 683.   5. 537. 660. 385. 529. 645. 402. 502. 316.
   7. 365. 766. 460. 401. 576. 421. 785. 507.]
----------------------------------------
Valores únicos para la columna garaje:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna consumo:
['Error al procesar consumo' 'E, D' 'G, F' 'G, E' 'E, E' 'G, G' 'F, E'
 'F, F' 'D, C' 'C, C' 'D, D' 'A, A' 'E, F' 'B, B' 'C, B' 'B, G' 'B, A'
 'D, E' 'A, B' 'C, G' 'E, G' 'C, D' 'C, A' 'E, B' 'F, G' 'D, F' 'E, C'
 'D, A' 'A, E' 'B, C' 'E, A' 'C, E' 'B, E']
----------------------------------------
Valores únicos para la columna puerta_blindada:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna adaptado_a_personas_con_movilidad_reducida:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna identificador:
['40920273409_100500' '15062564089_100500' '658149002_501470' ...
 '43392414912_109800' '945856909436630_109800' '44201590595_109800']
----------------------------------------
Valores únicos para la columna ascensor:
['Si', NaN, 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna superficie_util:
[ 67.  90.  85.  63.  73.  75.  nan  55. 110. 115. 106.  98. 100. 120.
  62.  30.  51. 105. 140.  59. 101. 113.  70.  95.  65.  60. 125. 112.
 204.  92.  94. 118. 144.  50.  86.  91. 108.  80.  77.  81. 130.  89.
 127.  64.  79.  76. 103.  78.  84. 104. 102. 117.  83. 319.  99. 148.
  40.  46.  68. 155. 116. 135.  87.  74. 240. 107.  29. 126.  27.  88.
  31. 189. 119.  61.  58.  45.  93. 180. 149. 158. 230.  37.  72.  38.
  52.  42.  69.  56.  82.  57.  66.  39. 400.  32. 200. 970. 150. 320.
 220. 910. 210. 145. 250. 190. 159. 129. 278.   1. 205. 500. 245. 540.
 830. 165. 122.  35.  97.  34. 169. 182. 124. 133.  20.  71. 160. 225.
  28.  54. 138. 260.  96. 137. 157.  43. 170.  25. 109. 132.  48. 243.
 600. 965. 300. 800. 890. 940. 383. 276. 229. 350. 111. 136.  41. 187.
 843. 141. 480. 365. 146. 700. 151. 605. 282. 465. 246. 846.   2. 203.
 195. 297. 185. 475. 280. 290. 175. 900. 390. 154. 790. 560. 224. 121.
 785. 128. 357. 333. 176. 215.  36. 131. 114. 193. 142.  49. 166.  53.
 147. 310. 960. 820. 880. 780. 588. 505. 720.  33.   8. 123.  47. 241.
 139. 324.   3.   6. 795. 219. 207. 201. 186. 172. 134.  44. 161. 265.
 143.  12. 247. 680. 270. 216. 370. 450. 153. 296. 330. 248. 328. 275.
  22. 178. 503. 217.  26. 507. 192. 550. 152. 188. 384. 239. 645. 980.
 340. 860. 840.  24. 380. 168.  11. 334. 223. 825. 810. 990. 750. 420.
 198. 760. 945. 950. 850. 194. 670. 294. 337. 171. 285. 252. 267. 213.
 355. 387. 525. 235. 199. 232.  16. 445. 156. 284. 431.  21. 262.  23.
 303. 458. 179. 430. 177. 360. 167. 472. 391. 212. 255. 650. 520. 315.
 640. 515. 930. 490. 197. 920. 425. 440. 348. 163. 870. 214. 416. 164.
 196. 329. 174.  10. 406. 221. 261.  13. 470.  14. 437. 183. 238. 635.
 254. 256. 339. 311. 298. 325. 202. 495. 231. 361. 233. 401. 545. 288.
 725. 482. 349. 184.  18.  19.]
----------------------------------------
Valores únicos para la columna nombre:
['Piso en calle Amapola' 'Piso en Avenida de la Estación'
 'Piso en Avenida del Cabo de Gata' ...
 'Apartamento en calle Cala Pino Manga, 1'
 'Apartamento en Avenida de la Gran Vía de la Manga, 6'
 'Piso en Avenida de la Gran Vía de la Manga, 8']
----------------------------------------
Valores únicos para la columna alcantarillado:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna planta:
<IntegerArray>
[   3,    4,    6,    1,    0,   21,    2,    5, <NA>,    9,    7,    8,   10,
   11,   12,   -1,   14,   13,   16,   17,   15,   20,   18,   19]
Length: 24, dtype: Int64
----------------------------------------
Valores únicos para la columna baños:
<IntegerArray>
[1, 2, 3, 4, 6, <NA>, 5, 7, 9, 8, 10, 11]
Length: 12, dtype: Int64
----------------------------------------
Valores únicos para la columna portero_automatico:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna exterior:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna soleado:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna piscina:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna calle_alumbrada:
[NaN, 'Si']
Categories (1, object): ['Si']
----------------------------------------
Valores únicos para la columna precio_m2:
[  9.   6.  12.   8.  10.   7.   5.  16.  11.   1.  13.   2.  14.  nan
  18.  17.  15.  50.  30.  60.  52.  28.  20.  29.  25.  45.  32.  36.
  24.  47.  26.  53.  44.  31.  40.  38.   4.  33.  69.  56.  21.  80.
  41.  19.  34.  23.  35.  59.  43.  37.  22.  27.  55.   3.  42. 120.
  86.  78. 113.  99. 102.  88.  65.  95.  57.  48.  71.  62.  79.  39.
  51.  46.  73.  63.  49.  61.  54.  67.  58.  70.  92.  96. 140.  74.
  68.  64.  75. 105.  76.  82. 780.  66.  94. 187.  81. 350.]
----------------------------------------
Valores únicos para la columna precio:
[750. 700.   1. 850. 790. 800. 650. 550. 625. 600. 500. 450.   2. 720.
 900. 200. 825. 950. 760. 795. 975. 275. 680. 990.  nan 830. 725. 875.
 420. 590. 630. 690. 910.   3. 780. 675. 585. 460. 395. 575. 670. 138.
  43.   4.   6.   5.   7. 100.   8. 300. 400.  67. 495. 695. 208. 150.
 135. 960. 580. 465. 890. 620. 423. 730. 715. 740. 920. 660. 595. 721.
 747. 350. 980. 870. 930. 770. 820. 525. 995. 380. 330. 840. 570. 390.
 265. 775. 240. 940. 645. 250. 735. 490. 385. 815. 880. 785. 710. 116.
 140. 180. 540. 640. 425. 560. 480. 515. 230. 430. 375. 999. 510.  12.
  10.  16.  18.  15.  17.  13.  11.  80.  25.   9.  14.  60. 935. 839.
  19.  40.  28. 913. 685. 810. 899. 440. 202. 253. 163. 225. 242. 156.
 115. 167. 317. 925. 751. 860. 876. 707.  35. 475. 610. 895. 970. 295.
 520. 521. 320. 290. 530. 612. 642. 447. 665. 260. 694. 773. 772. 835.
 455. 978. 824.  20.  24. 542. 997. 699. 233. 205. 270. 130. 445. 454.
 663. 662. 485. 545. 501. 919. 855. 945. 965. 955. 985. 905. 599. 615.
 220. 823. 755. 106. 104. 845. 865. 370. 470.  88. 110. 437. 347. 381.
 348. 340. 215. 998. 765. 915. 885. 128.  76. 108. 127. 120.  83. 745.
 175. 325.  70. 285.  65. 812. 926. 168.  90.]
----------------------------------------
Valores únicos para la columna lavadero:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna orientacion:
['ESTE' 'SIN ESPECIFICAR' 'NORTE' 'SUR' 'OESTE' 'SUROESTE' 'NORESTE'
 'SURESTE' 'NOROESTE']
----------------------------------------
Valores únicos para la columna amueblado:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna interior:
[NaN, 'Si', 'No']
Categories (2, object): ['No', 'Si']
----------------------------------------
Valores únicos para la columna habitaciones:
<IntegerArray>
[3, 2, 1, 4, 5, <NA>, 7, 6, 10, 9, 12, 8, 80, 11, 16, 90, 22, 13]

In [5]:
dfalquileres.dtypes

luz                                                 category
jardin                                              category
sistema_de_seguridad                                category
conservacion                                          object
vidrios_dobles                                      category
se_aceptan_mascotas                                 category
timestamp                                     datetime64[ns]
carpinteria_interior                                category
calefaccion                                         category
trastero                                            category
href                                                  object
calle_asfaltada                                     category
tipo_de_casa                                          object
cocina_equipada                                     category
agua                                                category
emisiones                                             object
aire_acondicionado                                  category
terraza                                             category
armarios_empotrados                                 category
actualizacion                                 datetime64[ns]
superficie                                           float64
balcon                                              category
gastos_de_comunidad                                 category
urbanizado                                          category
superficie_construida                                float64
garaje                                              category
consumo                                               object
puerta_blindada                                     category
adaptado_a_personas_con_movilidad_reducida          category
identificador                                         object
ascensor                                            category
superficie_util                                      float64
nombre                                                object
alcantarillado                                      category
planta                                                 Int64
baños                                                  Int64
portero_automatico                                  category
exterior                                            category
soleado                                             category
piscina                                             category
calle_alumbrada                                     category
precio_m2                                            float64
precio                                               float64
lavadero                                            category
orientacion                                           object
amueblado                                           category
interior                                            category
habitaciones                                           Int64
gas                                                 category
tipo_suelo                                          category
carpinteria_exterior                                category
superficie_solar                                     float64
comedor                                             category
antiguedad                                            object
codigo_postal                                          Int64
ubicacion                                             object
agencia                                               object
chimenea                                            category
telefono                                            category
dtype: object