In [2]:
import mysql.connector
import cursor
import pandas as pd

In [27]:
#mapeo de tipos de datos de pandas a MySQL

df_alquileres = pd.read_csv('https://raw.githubusercontent.com/JM181998/PROYECTOAIRBNB/refs/heads/main/alqileres_scrap_completo.csv')

nuevo_orden = [
    'identificador', 'Referencia', 'nombre', 'href', 'ubicacion', 'codigo_postal', 'agencia',
    'Tipo de casa', 'Planta', 'Habitaciones', 'Baños', 'Superficie construida', 'Superficie útil', 'Superficie solar', 'Antigüedad', 'Conservación',
    'precio', 'precio_m2', 'Gastos de comunidad',
    'Puerta blindada', 'Sistema de seguridad', 'Ascensor', 'Adaptado a personas con movilidad reducida',
    'Amueblado', 'Cocina equipada', 'Comedor', 'Carpintería interior', 'Carpintería exterior', 'Vidrios dobles', 'Exterior', 'Interior', 'Soleado', 'Orientación',
    'Calefacción', 'Aire acondicionado', 'Luz', 'Agua', 'Gas', 'Teléfono', 'Portero automático',
    'Balcón', 'Terraza', 'Jardín', 'Piscina', 'Trastero', 'Garaje', 'Lavadero', 'Chimenea',
    'Urbanizado', 'Calle asfaltada', 'Calle alumbrada', 'Alcantarillado',
    'consumo', 'emisiones',
    'Se aceptan mascotas', 'No se aceptan mascotas',
    'actualizacion', 'timestamp'
]

df_alquileres = df_alquileres[nuevo_orden]

dtype_mapping = {
    'int64': 'INT',
    'float64': 'FLOAT',
    'object': 'VARCHAR(255)',
    'bool': 'BOOLEAN',
    'datetime64': 'DATETIME'
}

#función para generar la estructura SQL

def generate_mysql_schema(df_alquileres, table_name='general_alquileres'):
    sql = f'CREATE TABLE {table_name} (\n)'

    for col, dtype in df_alquileres.dtypes.items():             #dtypes: cada tipo de dato de las variables
        mysql_type = dtype_mapping.get(str(dtype), 'TEXT')
        sql += f"    `{col}` {mysql_type},\n"

    sql = sql.rstrip(',\n') + '\n);'
    return sql

#generar el código SQL (este es el que se introduce en sql_schema_alquileres)
sql_alquileres = generate_mysql_schema(df_alquileres)

#lo guardamos en un archivo mysql porque no se puede leer completo (truncado)
with open('general_alquileres_mysql.sql', 'w') as f:
    f.write(sql_alquileres)

In [ ]:
#código para cambiar el formato de sql_alquileres pero no funciona.
#def format_sql_create_table(sql_alquileres):
# lines = sql_alquileres.splitlines()[1:]
# formatted_columns = ",\n    ".join(lines)
# formatted_sql = f"CREATE TABLE general_alquileres (\n    {formatted_columns}\n);"
# return formatted_sql

In [33]:
#Conexión a la base de datos

#parámetros de conexión
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Amsterdam1991!',
    database='analisis_inmobiliario'
)

#conectar a MYSQL
cursor = connection.cursor() #para ejecutar las consultas

sql_schema_alquileres = """
CREATE TABLE general_alquileres (
    `identificador` VARCHAR(255),
    `Referencia` VARCHAR(255),
    `nombre` VARCHAR(255),
    `href` VARCHAR(255),
    `ubicacion` VARCHAR(255),
    `codigo_postal` FLOAT,
    `agencia` VARCHAR(255),
    `Tipo de casa` VARCHAR(255),
    `Planta` VARCHAR(255),
    `Habitaciones` FLOAT,
    `Baños` FLOAT,
    `Superficie construida` VARCHAR(255),
    `Superficie útil` VARCHAR(255),
    `Superficie solar` VARCHAR(255),
    `Antigüedad` VARCHAR(255),
    `Conservación` VARCHAR(255),
    `precio` VARCHAR(255),
    `precio_m2` VARCHAR(255),
    `Gastos de comunidad` VARCHAR(255),
    `Puerta blindada` VARCHAR(255),
    `Sistema de seguridad` VARCHAR(255),
    `Ascensor` VARCHAR(255),
    `Adaptado a personas con movilidad reducida` FLOAT,
    `Amueblado` VARCHAR(255),
    `Cocina equipada` VARCHAR(255),
    `Comedor` VARCHAR(255),
    `Carpintería interior` VARCHAR(255),
    `Carpintería exterior` VARCHAR(255),
    `Vidrios dobles` VARCHAR(255),
    `Exterior` VARCHAR(255),
    `Interior` VARCHAR(255),
    `Soleado` VARCHAR(255),
    `Orientación` VARCHAR(255),
    `Calefacción` VARCHAR(255),
    `Aire acondicionado` VARCHAR(255),
    `Luz` VARCHAR(255),
    `Agua` VARCHAR(255),
    `Gas` VARCHAR(255),
    `Teléfono` VARCHAR(255),
    `Portero automático` VARCHAR(255),
    `Balcón` FLOAT,
    `Terraza` VARCHAR(255),
    `Jardín` VARCHAR(255),
    `Piscina` VARCHAR(255),
    `Trastero` VARCHAR(255),
    `Garaje` VARCHAR(255),
    `Lavadero` VARCHAR(255),
    `Chimenea` VARCHAR(255),
    `Urbanizado` VARCHAR(255),
    `Calle asfaltada` VARCHAR(255),
    `Calle alumbrada` FLOAT,
    `Alcantarillado` FLOAT,
    `consumo` VARCHAR(255),
    `emisiones` VARCHAR(255),
    `Se aceptan mascotas` FLOAT,
    `No se aceptan mascotas` FLOAT,
    `actualizacion` VARCHAR(255),
    `timestamp` VARCHAR(255)
);
"""

#ejecutar el script sql
try:
    cursor.execute(sql_schema_alquileres)
    connection.commit()
    print('tabla creada exitosamente')
except mysql.connector.Error as err:
    print(f'Error: {err}')

cursor.close()
connection.close()

Error: 1050 (42S01): Table 'general_alquileres' already exists